﻿@using Microsoft.AspNetCore.Http
@model List<SolidHome.Models.AdminProductDescription>
@inject IHttpContextAccessor httpAccessor
<table class="table table-hover main-info-block much-info">
    <thead>
        <tr>
            <th class="sub-tittle_med_18">#</th>
            <th class="sub-tittle_med_18">Назва товару</th>
            <th class="sub-tittle_med_18">Ціна</th>
            <th class="sub-tittle_med_18">Опис</th>
            <th class="sub-tittle_med_18">Редагувати</th>
            <th class="sub-tittle_med_18">Видалити</th>
        </tr>
    </thead>
    <tbody>
    @for (int j = 0; j < Model.Count; j++)
    {
        <tr>
            <th scope="row">@(j + 1)</th>
            <td>@Model[j].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == "uk")?.Title</td>

            <td>@($"Від {Model[j].Price.ToString()} у.о.")</td>

            <td>
                @Model[j].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == "uk")?.Description
            </td>
            <td>
                <a class="edit-btn btn-modal edit-descr" data-toggle="modal"
                   data-target="#helpBlock"
                   asp-protocol="https" asp-area="Admin" asp-controller="ProductApi" asp-action="EditDescription" asp-route-descriptionId="@Model[j].ProductDescriptionId">Редагувати</a>
            </td>
            <td>
                <a asp-protocol="https" class="delete-btn remove-item-description" asp-area="Admin" asp-controller="ProductApi" asp-action="RemoveDescription" asp-route-id="@Model[j].ProductDescriptionId">Видалити</a>
            </td>

        </tr>
    }


    </tbody>
</table>