﻿@model SolidHome.Models.AdminProductDescription
<form asp-area="Admin" asp-controller="ProductApi" asp-action="@(Model == null ? "CreateDescription" : "EditDescription")" method="post" class="descr-update">
    <p class="sub-tittle_18 mb-2 mt-3">Вкажіть вартість товару</p>
    <input asp-for="Price" type="text">
    <ul class="nav nav-tabs col-12 pt-4 pl-4" role="tablist">
        <li class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#desc_uk" role="tab">УКР</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#desc_ru" role="tab">РУС</a>
        </li>
        <li class="nav-item">
    </ul>
    <input type="hidden" asp-for="ProductDescriptionId">
    <input type="hidden" class="product-id" name="ProductId" value="@Model?.ProductId">
    
   
    <div class="tab-content">
        <div class="tab-pane active" id="desc_uk" role="tabpanel">
            <p class="sub-tittle_18 mb-2 mt-3">Вкажіть назву товару</p>
            <input type="text" asp-for="@Model.ProductDescriptionTranslators[0].Title">
            <input type="text" asp-for="@Model.ProductDescriptionTranslators[0].Code" value="@(Model?.ProductDescriptionTranslators[0].Code ?? "uk")" hidden>
            <input type="text" asp-for="@Model.ProductDescriptionTranslators[0].TranslatorId" hidden>
            <p class="sub-tittle_18 mb-2 mt-3">Загальний опис товару</p>
            <textarea class="tinymce" asp-for="@Model.ProductDescriptionTranslators[0].Description"></textarea>
        </div>
        <div class="tab-pane" id="desc_ru" role="tabpanel">
            <p class="sub-tittle_18 mb-2 mt-3">Укажите название товара</p>
            <input type="text" asp-for="@Model.ProductDescriptionTranslators[1].Title">
            <input type="text" asp-for="@Model.ProductDescriptionTranslators[1].Code" value="@(Model?.ProductDescriptionTranslators[1].Code ?? "ru")" hidden>
            <input type="text" asp-for="@Model.ProductDescriptionTranslators[1].TranslatorId" hidden>
            <p class="sub-tittle_18 mb-2 mt-3">Общее описание товара</p>
            <textarea class="tinymce" asp-for="@Model.ProductDescriptionTranslators[1].Description"></textarea>

        </div>
    </div>
    <button type="submit" class="btn-light-dark-small color-light sub-tittle_18">Зберегти</button>
</form>

