﻿@using Microsoft.AspNetCore.Http
@using SolidHome.Service
@using SolidHome.Service.Interfaces
@model SolidHome.Models.CatalogItem
@inject IProductService ProductService
@inject IHttpContextAccessor httpAccessor
<p class="sub-tittle_med_25">@Model.Title</p>
<button class="add-btn"><a asp-protocol="https" asp-area="Admin" asp-controller="Catalog" asp-action="CreateProduct" asp-route-url="@Model.Url">Додати продукт</a></button>
<table class="table table-hover contact-table main-info-block much-info">
    <thead>
        <tr>
            <th class="sub-tittle_med_18">#</th>
            <th class="sub-tittle_med_18">Продукти</th>
            <th class="sub-tittle_med_18">Опис</th>
            <th class="sub-tittle_med_18">Редагувати</th>
            <th class="sub-tittle_med_18">Видалити</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Products.Count; i++)
        {
            var product = Model.Products[i];

        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@product.Title</td>

            <td>
                @*@product.ProductTranslator.Description*@
        </td>
        <td>
            <a  class="edit-btn" asp-protocol="https" asp-area="Admin" asp-controller="Catalog" asp-action="Product" asp-route-id="@product.ProductId">Редагувати</a>
        </td>
        <td>
            <a class="delete-btn remove-item" asp-protocol="https" asp-area="Admin" asp-controller="ProductApi" asp-action="RemoveProduct" asp-route-id="@product.ProductId">Видалити</a>
        </td>

        </tr>
        }


    </tbody>
</table>