﻿@using System.Globalization
@using Microsoft.AspNetCore.Http
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IHttpContextAccessor httpAccessor
@inject IDirectionService DirectionService
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>("uk").ToList();
}
<p class="sub-tittle_med_25">Каталог</p>
<div class="vacan-info">
    <p class="sub-tittle">Категорії</p>
    <table class="table table-hover main-info-block vacans-categs ">
        <thead>
            <tr>
                <th class="sub-tittle_med_18">#</th>
                <th class="sub-tittle_med_18">Категорія</th>
                <th class="sub-tittle_med_18"></th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < directions.Count; i++)
        {
            <tr>
                <th scope="row">@(i+1)</th>
                <td>@directions[i].Title.ToUpper()</td>
                <td>
                    <a class="edit-btn" asp-protocol="https" asp-area="Admin" asp-controller="Catalog" asp-action="Direction" asp-route-url="@directions[i].Url">Детальніше</a>
                </td>
            </tr>
        }
        
        </tbody>
    </table>
</div>