﻿@model SolidHome.Models.AdminProduct
@using System.Globalization
@using System.IO
@using SolidHome.Models
<p class="sub-tittle_med_25">@(Model == null ? "Додати" : "Редагувати") продукт</p>
<form class="main-info-block row justify-content-between single-vacan-info product-form" asp-area="Admin" asp-controller="Catalog" asp-action="@(Model == null ? "AddProduct" : "EditProduct")" method="post" enctype="multipart/form-data">
    <div class="col-12 row">
        <input type="hidden" asp-for="ProductId">
        <input type="hidden" asp-for="Direction.Url" value="@(Model?.Direction.Url ?? ViewBag.Url)">
        <input type="hidden" asp-for="Direction.DirectionId">
        <div class="col-lg-6">
            <p class="sub-tittle_18 mb-2 mt-3">Оберіть фото для сторінки каталогу</p>
            <input type="file" class="image-input" asp-for="MainImage">

            <img class="image" src="@Model?.MainImage">
            <input  asp-for="@Model.ProductTranslators[0].MainImageAlt" type="text" placeholder="alt_UKR">
            <input  asp-for="@Model.ProductTranslators[1].MainImageAlt" type="text" placeholder="alt_RUS">
        </div>
        <div class="col-lg-6">
            <p class="sub-tittle_18 mb-2 mt-3">Оберіть декілька фото для сторінки продукту</p>
            @{ int i = 0;}
            <input class="multi with-preview" type="file" id="file_input" asp-for="PreviewImages" accept="image/x-png,image/gif,image/jpeg, image/jpg">

            <div class="MultiFile-wrap" id="file_input">
                <div class="MultiFile-list" id="file_input_list">
                    @{ int image_i = 0;}
                    
                    @foreach (var image in Model?.PreviewImages ?? new List<AdminImage>())
                    {
                            Model.PreviewImages[image_i].ImageTranslators = Model.PreviewImages[image_i].ImageTranslators.Count > 0 ? Model.PreviewImages[image_i].ImageTranslators : new ImageTranslator[]
                            {
                                new ImageTranslator() {Code = "uk"},
                                new ImageTranslator() {Code = "ru"}

                            }.ToList();
                        
                    
                    <div class="MultiFile-label">
                            <a class="MultiFile-remove file-remove"
                               asp-area="Admin"
                               asp-controller="ProductApi"
                               asp-action="RemoveImageFromProduct"
                               asp-route-productId="@Model?.ProductId"
                               asp-route-imageId="@image.ImageId">x</a>
                            <span>
                                <span class="MultiFile-label" title="File selected: @System.IO.Path.GetFileName(image.Path)">
                                    <img class="MultiFile-preview" style="max-height: 100px; max-width: 100px;" src="@image.Path">

                                </span>

                                <input asp-for="@Model.PreviewImages[image_i].ImageId" type="text" hidden>
                                <input type="text" asp-for="@Model.PreviewImages[image_i].ImageTranslators[0].TranslatorId" hidden>
                                <input type="text" asp-for="@Model.PreviewImages[image_i].ImageTranslators[0].Code" hidden>
                                <input class="prod-img-alt" asp-for="@Model.PreviewImages[image_i].ImageTranslators[0].Alt" type="text" placeholder="alt_UKR">


                                <input type="text" asp-for="@Model.PreviewImages[image_i].ImageTranslators[1].TranslatorId" hidden>
                                <input type="text" asp-for="@Model.PreviewImages[image_i].ImageTranslators[1].Code" hidden>
                                <input class="prod-img-alt" asp-for="@Model.PreviewImages[image_i].ImageTranslators[1].Alt" type="text" placeholder="alt_RUS">

                            </span>
                        </div>
                        image_i++;
                    }
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <!--Tabs for language-->
        <ul class="nav nav-tabs col-12 pt-4 pl-4" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#home" role="tab">УКР</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">РУС</a>
            </li>
            <li class="nav-item">
        </ul>
   
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel">
                <p class="sub-tittle_18 mb-2 mt-3">Вкажіть назву товару</p>
                <input type="text" asp-for="@Model.ProductTranslators[0].Title">
                <input type="text" asp-for="@Model.ProductTranslators[0].Code" value="@(Model?.ProductTranslators?[0]?.Code ?? "uk")" hidden>
                <input type="text" asp-for="@Model.ProductTranslators[0].TranslatorId" hidden>
                <p class="sub-tittle_18 mb-2 mt-3">Мета заголовок</p>
                <textarea asp-for="@Model.ProductTranslators[0].MetaTitle"></textarea>
                <p class="sub-tittle_18 mb-2 mt-3">Мета опис</p>
                <textarea asp-for="@Model.ProductTranslators[0].MetaDescription"></textarea>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel">
                <p class="sub-tittle_18 mb-2 mt-3">Укажите название товара</p>
                <input type="text" asp-for="@Model.ProductTranslators[1].Title">
                <input type="text" asp-for="@Model.ProductTranslators[1].Code" value="@(Model?.ProductTranslators[1].Code ?? "ru")" hidden>
                <input type="text" asp-for="@Model.ProductTranslators[1].TranslatorId" hidden>
                <p class="sub-tittle_18 mb-2 mt-3">Мета заголовок</p>
                <textarea asp-for="@Model.ProductTranslators[1].MetaTitle"></textarea>
                <p class="sub-tittle_18 mb-2 mt-3">Мета описание</p>
                <textarea asp-for="@Model.ProductTranslators[1].MetaDescription"></textarea>

            </div>
        </div>
 
        
        @if (Model != null)
        {
            <a asp-area="Admin" asp-controller="ProductApi" asp-action="CreateDescription" class="add-btn add-descr btn-modal edit-descr" data-toggle="modal"
               data-target="#helpBlock">Додати опис</a>
            <div class="descr-table">
                @Html.Partial("_ProductDescriptionsTable", Model.ProductDescriptions)
            </div>
        }
        <button class="edit-btn m-4 @(Model == null ? "create" : "edit")" type="submit">@(Model == null ? "Додати" : "Зберегти") товар</button>
    </div>
</form>



<div id="helpBlock" class="modal fade helpBlock" tabindex="-1" role="dialog"
     aria-labelledby="helpBlockLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="sub-tittle_18 m-auto" id="helpBlockLabel">Додавання/Редагування</h5>
            </div>
            <div class="modal-footer d-block login-modal">

            </div>
        </div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

@section Scripts{
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="~/lib/multifile/jquery.multifile.js"></script>
    <script>


        if (tinymce.editors.length > 0) {
            tinymce.execCommand('mceFocus', true, 'Article');
            tinymce.execCommand('mceRemoveEditor', true, 'Article');
            tinymce.execCommand('mceAddEditor', true, 'Article');
        }
    </script>
}