﻿@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@inject IHttpContextAccessor httpAccessor
@model SolidHome.Models.AdminProduct
    <div class="text-center">
        <h1 class="sub-tittle m-0">@ViewLocalizer["ThankYou"]</h1>
        <div class="loadCircleDone">
            <div class="littleLoaded"><i class="icons done"></i></div>
        </div>
        <a asp-protocol="https" asp-controller="catalog" asp-action="product" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@Model.ProductTranslators.FirstOrDefault(c=>c.Code == CultureInfo.CurrentCulture.Name)?.Url" class="btn btn-light-dark sub-tittle_ulight_18 color-light bottom-big-m">@ViewLocalizer["Done"]</a>
    </div>

	
