﻿@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@model SolidHome.Models.CatalogItem
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor httpAccessor
@inject IDirectionService DirectionService
@inject IHtmlLocalizer<Common> localizer
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
}

@section Meta
    {

    <meta name="description" content="@Localizer[Model.Url.Replace("-", String.Empty) + "MetaDescription"].Value">
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())">
}
@section Title{
    <title>@Localizer[Model.Url.Replace("-", String.Empty) + "MetaTitle"].Value</title>
}
<section class="main-catalog-photo">
    <div class="tittle-padd">
        <h1 class="main-tittle text-center toupc">@Html.Raw(Model.Title)</h1>
        <div class="breadcrumb-row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="Home" asp-action="Index" class="color-light toupc">@localizer["Main"]</a></li>
                <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="catalog" asp-action="Index" class="color-light toupc">@localizer["Catalog"]</a></li>
                <li class="breadcrumb-item sub-tittle_med_18 active"><a asp-protocol="https" asp-controller="catalog" asp-action="CatalogItem" asp-route-url="@Model.Url" class="color-light toupc">@Html.Raw(Model.Title)</a></li>
            </ol>
        </div>
    </div>
</section>
<section class="main-catalog-info">
    <div class="own-container">
        <div class="row">
            <div class="col-lg-3 catalog-menu">
                <ul>
                    @foreach (var direction in directions)
                    {
                        <li class="sub-tittle_18"><a class="catalog-items toupc" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">@Html.Raw(direction.Title)</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-9 col-md-12 row products-row p-0">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 prod-item">
                        <div class="prod-item-content">
                            <div class="dark-hov"></div>
                            <div class="image-contnet">
                                <img src="@product.MainImage" class="w-100" alt="@product.MainImageAlt">
                            </div>
                            <a asp-protocol="https" asp-controller="catalog" asp-action="Product" asp-route-url="@Model.Url" asp-route-productUrl="@product.Url" class="sub-tittle_18 prod-more-btn d-flex"><p class="m-auto">@Html.Raw(product.Title)</p></a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
@*<section class="main-catalog-description">
    <div class="own-container">
        <p class=".thin-tittle-13 direct-about-info">
            @Html.Raw(Model.Description)
        </p>
        <button class="btn more-direct-about">Читати більше</button>
    </div>
</section>*@
@section Scripts{
<script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "ItemList",
    "url" : "@httpAccessor.HttpContext.Request.GetUri()",
    "name": "@Html.Raw(Model.Title)",
    "description": @Html.Raw(Localizer[Model.Url.Replace("-", String.Empty) + "MetaDescription"].Value),

    "numberOfItems" : "@Model.Products.Count",
    "itemListElement" : [
    @for (int i = 0; i < Model.Products.Count; i++)
    {

        @Html.Raw("\t\t{\"@type\": \"ListItem\",\n" +
                                                   "\t\t\"name\" : \"" + Model.Products[i].Title + "\"," +
                                                   "\t\t\"image\" : \"" + Html.Raw(Model.Products[i].MainImage) + "\"," +
                                                   "\t\t\"position\" : " + (i+1) + "," +
                                                   "\t\t\"url\" : \"" + Url.Action("Product", "Catalog", new { url = Model.Url, productUrl = Model.Products[i].Url }, "https") + "\"" +
                                                   "}" + (i == Model.Products.Count - 1 ? "" : ","))
    }
    ]

    }
</script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement":
        [
        {
        "@@type": "ListItem",
        "position": 1,
        "item":
        {
        "@@id": "@(Url.Action("index", "home", null, "https"))",
        "name": "@localizer["Main"]"
        }
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "item":
        {
        "@@id": "@(Url.Action("Index", "Catalog", null, "https"))",
        "name": "@localizer["Catalog"]"
        }
        },
        {
        "@@type": "ListItem",
        "position": 3,
        "item":
        {
        "@@id": "@(Url.Action("CatalogItem", "Catalog", new { url = Model.Url }, "https"))",
        "name": "@Html.Raw(Model.Title)"
        }
        }
        ]
        }
    </script>
}