﻿@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IDirectionService DirectionService
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor httpAccessor
@inject IHtmlLocalizer<Common> localizer
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
}
@section Meta
    {
    <meta name="description" content="@Localizer["MetaDescription"]">
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())">
}
@section Title{
    <title>@Localizer["MetaTitle"]</title>
}
<section class="main-catalog-photo">
    <div class="tittle-padd"><h1 class="main-tittle text-center toupc">@localizer["Catalog"]</h1></div>
</section>
<section class="main-catalog-info ind-catal">
    <div class="own-container">
        <div class="row justify-content-center">
            @foreach (var direction in directions)
            {
                <div class="catalog-item col-lg-3 col-md-5 col-sm-6 col-10 mb-sm-0 mb-3">
                    <a class="d-block text-center" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">
                        <i class="icons @(direction.IconStyle + "Dark")"></i>
                        <p class="sub-tittle">@(direction.Url == "video-surveillance" ? Html.Raw(localizer["VideoSurveillance"].Value) : Html.Raw(direction.Title))</p>
                    </a>
                </div>
            }
        </div>
    </div>
</section>