﻿@model SolidHome.Models.AdminProduct
@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IDirectionService directionService
@inject IHttpContextAccessor httpAccessor
@inject IHtmlLocalizer<Common> localizer
@inject IViewLocalizer viewLocalizer
@{
    var directions = directionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
    var translator = Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name);
    Order order = ViewBag.Order as Order;
}
<div class="modal-header">
    <h5 class="sub-tittle_18 m-auto" id="helpBlockLabel">@viewLocalizer["Ordering"]</h5>
</div>
<div class="modal-body  pt-4 mt-2 pb-0">
    <p class="uligh_tittle_13 text-justify">@viewLocalizer["OrderInfo"]</p>
</div>
<div class="modal-footer d-block login-modal">
    <form asp-controller="OrderApi" asp-action="MakeOrder" method="post" id="product-order" class="order-form">
        <input required type="text" name="Name" placeholder="@viewLocalizer["Name"]" value="@(order?.Name ?? "")"/>
        <input required type="tel" name="Phone" placeholder="@viewLocalizer["Phone"]" value="@(order?.Phone ?? "")" />
        <input required type="email" name="Email" id="email" placeholder="@viewLocalizer["Email"]" value="@(order?.Email ?? "")"/>
        @if (Model.ProductDescriptions.Count > 1)
        {
            <div class="dropdown">
                <button class="dropdown-toggle order-active" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @( Html.Raw(order?.Clarification ?? Model.ProductDescriptions?[0].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title))
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
                    {
                        <button class="dropdown-item order-item" type="button">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)</button>
                    }
                </div>
            </div>
        }
        <textarea name="Message" placeholder="@viewLocalizer["LeaveMessage"]" rows="3">@(order?.Message ?? "")</textarea>

        <input type="hidden" name="ProductName" value="@(order?.ProductName ?? Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)">
        <input type="hidden" name="ProductUrl" value="@(order?.ProductUrl ?? Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Url)">
        <div id="call-captcha" class="g-recaptcha" data-sitekey="@ViewBag.SiteKey"></div>
        @if (ViewData.ContainsKey("Error"))
        {
            <p class="error-bl">@ViewBag.Error</p>
        }
        <button type="submit" class="btn-light-dark-small color-light sub-tittle_18">@viewLocalizer["Send"]</button>
    </form>
</div>