﻿@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using Newtonsoft.Json.Linq
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@model SolidHome.Models.AdminProduct
@inject IDirectionService directionService
@inject IHttpContextAccessor httpAccessor
@inject IHtmlLocalizer<Common> localizer
@inject IViewLocalizer viewLocalizer
@{
    var directions = directionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
    var translator = Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name);
}

@section Meta
    {
    <meta name="description" content="@(Html.Raw(translator?.MetaDescription))" />
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())">
    <meta property="og:title" content="@(Html.Raw(translator?.MetaTitle))">
    <meta property="og:url" content="@(httpAccessor.HttpContext.Request.GetUri())">
    <meta property="og:image" content="https://@httpAccessor.HttpContext.Request.Host@Html.Raw(Model.MainImage)">
    <meta property="og:type" content="website" />
}
@section Title{
    <title> @(Html.Raw(translator?.MetaTitle))</title>
}
@section Links{
    @if (ViewData.ContainsKey("Single") && ViewBag.Single)
    {
        <link rel="amphtml" href="@Url.Action("CatalogItemAmp", "Catalog", new {url = Model.Direction.Url}, "https")">
    }
    else
    {
        <link rel="amphtml" href="@Url.Action("ProductAmp", "Catalog", new {productUrl = translator.Url, url = Model.Direction.Url}, "https")">
    }
    <link rel="next" href="@Url.Action("Product", "Catalog", new {productUrl = ViewBag.Next, url = Model.Direction.Url}, "https")" />
    <link rel="prev" href="@Url.Action("Product", "Catalog", new {productUrl = ViewBag.Previous, url = Model.Direction.Url}, "https")" />

}
@section Header{
    <header class="transparent-container own-container">
        <div class="top-header">
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand" asp-protocol="https" asp-controller="home" asp-action="index"><img src="~/images/Logo/LogoLight.svg" alt="Logo" /></a>
                <button class="navbar-toggler" type="button" id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="home" asp-action="Index" data-active="dark">@localizer["Main"]</a>
                        </li>
                        <li class="nav-item catalog-drop">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="catalog" asp-action="index" data-active="light">@localizer["Catalog"]<i class="icons icon-drop"></i></a>
                            <div class="dropdown-content">
                                @foreach (var direction in directions)
                                {
                                    <a class="dropdown-item sub-tittle_18" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">@Html.Raw(direction.Title)</a>
                                }
                            </div>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="works" asp-action="index" data-active="light">@localizer["Works"]</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="news" asp-action="Index" data-active="light">@localizer["News"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="contacts" asp-action="Index" data-active="light">@localizer["Contacts"]</a>
                        </li>
						<li class="nav-item">
                        <p class="nav-link toupc" data-active="light">(063) 268 52 28</p>
                    </li>
                    </ul>
                </div>

                <div class="lang nav-item">
                    @if (ViewBag.Single ?? false)
                    {
                        <a class="nav-link" asp-protocol="https" asp-controller="catalog" asp-action="CatalogItem" asp-route-url="@Model.Direction.Url" asp-route-lang="@(CultureInfo.CurrentCulture.Name == "ru" ? "" : "ru")">
                            @(CultureInfo.CurrentCulture.Name == "uk" ? "РУС" : "УКР")
                        </a>
                    }
                    else
                    {
                        <a class="nav-link" asp-protocol="https" asp-controller="catalog" asp-action="Product" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@Model.ProductTranslators.FirstOrDefault(c => c.Code == (CultureInfo.CurrentCulture.Name == "ru" ? "uk" : "ru"))?.Url" asp-route-lang="@(CultureInfo.CurrentCulture.Name == "ru" ? "" : "ru")">
                            @(CultureInfo.CurrentCulture.Name == "uk" ? "РУС" : "УКР")
                        </a>
                    }

                </div>


            </nav>
        </div>
    </header>


}
<div id="order-content">
    <section class="main-prodItem-photo">
        <div class="tittle-padd">
            <p class="main-tittle text-center toupc">@localizer["Catalog"]</p>
            <div class="breadcrumb-row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="Home" asp-action="Index" class="color-light toupc">@localizer["Main"]</a></li>
                    <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="catalog" asp-action="Index" class="color-light toupc">@localizer["Catalog"]</a></li>
                    <li class="breadcrumb-item sub-tittle_med_18">
                        <a asp-protocol="https" asp-controller="catalog" asp-action="CatalogItem" asp-route-url="@Model.Direction.Url" class="color-light toupc">
                            @Html.Raw(Model.Direction.Title)
                        </a>
                    </li>
                    @if (!ViewData.ContainsKey("Single"))
                    {
                        <li class="breadcrumb-item sub-tittle_med_18 active">
                            <a asp-protocol="https" asp-controller="Catalog" asp-action="Product" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@translator.Url" class="color-light">
                                @Html.Raw(translator.Title)
                            </a>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </section>
    <section class="main-product-info">
        <div class="own-container">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-md-6 col-12 prod-photo p-md-0 p-lg-0">
                    <div class="slider slider-nav">
                        @foreach (var image in Model.PreviewImages)
                        {
                            <div class="slick-nav-item">
                                <img src="@image.Path" alt="@image.ImageTranslators.FirstOrDefault(c=>c.Code == CultureInfo.CurrentCulture.Name)?.Alt">
                            </div>
                        }

                    </div>
                    <div class="slider slider-for">
                        @foreach (var image in Model.PreviewImages)
                        {
                            <div class="">
                                <img src="@image.Path" alt="@image.ImageTranslators.FirstOrDefault(c=>c.Code == CultureInfo.CurrentCulture.Name)?.Alt">
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6 col-md-6  col-12 prod-info-block">
                    @if (!ViewData.ContainsKey("Single"))
                    {
                        <div class="prods-nav">
                            <a asp-protocol="https" asp-controller="catalog" asp-action="catalogItem" asp-route-url="@Model.Direction.Url" class="sub-tittle_ulight_18">@viewLocalizer["Back"]</a>
                            <a asp-protocol="https" asp-controller="catalog" asp-action="product" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@ViewBag.Next"><i class="icons backForwIcon back-icon"></i></a>
                            <a asp-protocol="https" asp-controller="catalog" asp-action="product" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@ViewBag.Previous"><i class="icons backForwIcon"></i></a>
                        </div>
                    }
                    <h1 class="sub-tittle_med_25 pb-3">@Html.Raw(translator.Title)</h1>
                    <p class="sub-tittle_18">
                        @viewLocalizer["Price"] <span class="sub-tittle_med_25 prod-price">@Html.Raw(Model.ProductDescriptions.Count > 0 ? (String.Format(viewLocalizer["FromTo"].Value, Model.ProductDescriptions[0].Price)) : "")</span>
                    </p>
                    <ul class="nav nav-tabs justify-content-between prod-info-tittle" id="myTab" role="tablist">
                        @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li class="nav-item col p-0 text-center">
                                    <a class="nav-link active @(Model.ProductDescriptions.Count == 1 ? "tab-padd" : "")" id="@(i)-tab" data-price="@Html.Raw(String.Format(viewLocalizer["FromTo"].Value, Model.ProductDescriptions?[0].Price))" data-toggle="tab" href="#@(i)Tab" role="tab" aria-selected="true">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item col p-0 text-center">
                                    <a class="nav-link" id="@(i)-tab" data-price="@Html.Raw(String.Format(viewLocalizer["FromTo"].Value, Model.ProductDescriptions?[i].Price))" data-toggle="tab" href="#@(i)Tab" role="tab" aria-selected="false">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)</a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="tab-content mt-4 pt-1 @(Model.ProductDescriptions.Count < 2 ? "descrheight" : "")" id="myTabContent">
                        <!--<div class="descr">-->
                        @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
                        {
                            if (i == 0)
                            {
                                <div class="tab-pane fade sub-tittle_18 active show" id="@(i)Tab" role="tabpanel" aria-labelledby="@(i)-tab" aria-expanded="true">
                                    @Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Description)
                                </div>
                            }
                            else
                            {
                                <div class="tab-pane fade sub-tittle_18" id="@(i)Tab" role="tabpanel" aria-labelledby="@(i)-tab" aria-expanded="false">
                                    @Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Description)
                                </div>
                            }
                        }
                        <!--</div>-->
                    </div>
                    <div class="row justify-content-between">
                        <button type="button" class="btn btn-modal btn-light-dark sub-tittle_18" data-toggle="modal" onClick="ga('send', 'pageview', 'button', 'clicked', 'order');"
                                data-target="#helpBlock">
                            @viewLocalizer["MakeOrder"]
                            <span class="icons littleBucket"></span>
                        </button>
                        <!-- Your share button code -->
                        <div class="fb-share-button big-fb-btn" data-href="@(httpAccessor.HttpContext.Request.GetUri())" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?locale=ru_RU&u=https%3A%2F%2Fsolidhome.com.ua%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="helpBlock" class="modal fade helpBlock" tabindex="-1" role="dialog"
     aria-labelledby="helpBlockLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="sub-tittle_18 m-auto" id="helpBlockLabel">@viewLocalizer["Ordering"]</h5>
            </div>
            <div class="modal-body  pt-4 mt-2 pb-0">
                <p class="uligh_tittle_13 text-justify">@viewLocalizer["OrderInfo"]</p>
            </div>
            <div class="modal-footer d-block login-modal">
                <form asp-controller="OrderApi" asp-action="MakeOrder" method="post" id="product-order"  class="order-form">
                    <input required type="text" name="Name" placeholder="@viewLocalizer["Name"]" />
                    <input required type="tel" name="Phone" placeholder="@viewLocalizer["Phone"]" />
                    <input required type="email" name="Email" id="email" placeholder="@viewLocalizer["Email"]" />
                    @if (Model.ProductDescriptions.Count > 1)
                    {
                        <div class="dropdown">
                            <button class="dropdown-toggle order-active" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @(Html.Raw(Model.ProductDescriptions?[0].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title))
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
                                {
                                    <button class="dropdown-item order-item" type="button">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)</button>
                                }
                            </div>
                        </div>
                    }
                    <textarea name="Message" placeholder="@viewLocalizer["LeaveMessage"]" rows="3"></textarea>

                    <input type="hidden" name="ProductName" value="@Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title">
                    <input type="hidden" name="ProductUrl" value="@Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Url">
                    <div class="g-recaptcha" data-sitekey="@ViewBag.SiteKey"></div>
                    <button type="submit" class="btn-light-dark-small color-light sub-tittle_18">@viewLocalizer["Send"]</button>
                </form>
            </div>
        </div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div id="fb-root"></div>

@section Scripts{
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "url" : "@httpAccessor.HttpContext.Request.GetUri()",
        "name": "@Html.Raw(translator.Title)",
        "image": "https://@httpAccessor.HttpContext.Request.Host@Html.Raw(Model.MainImage)",
        "description": "@Html.Raw(Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.MetaDescription)",
        "offers":
        {
        "@@type": "AggregateOffer",
        "priceCurrency" : "USD",
        "lowPrice" : "@Model.ProductDescriptions.Select(c => c.Price).OrderBy(c => c).FirstOrDefault()",
        "highPrice" : "@Model.ProductDescriptions.Select(c => c.Price).OrderByDescending(c => c).FirstOrDefault()",
        "offerCount" : "@Model.ProductDescriptions.Count",
        "offers" : [
        @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
        {

            @Html.Raw("\t\t{\"@type\": \"Offer\",\n" +
                                   "\t\t\"name\" : \"" + Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title + "\"," +
                                   "\t\t\"Price\" : \"" + Html.Raw(Model.ProductDescriptions[i].Price) + "\"" +
                                   "}" + (i == Model.ProductDescriptions.Count - 1 ? "" : ","))
        }
        ]
        }

        }
    </script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement":
        [
        {
        "@@type": "ListItem",
        "position": 1,
        "item":
        {
        "@@id": "@("https://" + httpAccessor.HttpContext.Request.Host + (CultureInfo.CurrentCulture.Name == "ru" ? "/ru" : ""))",
        "name": "@localizer["Main"]"
        }
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "item":
        {
        "@@id": "@(Url.Action("Index", "Catalog", null, "https"))",
        "name": "@localizer["Catalog"]"
        }
        },
        {
        "@@type": "ListItem",
        "position": 3,
        "item":
        {
        "@@id": "@(Url.Action("CatalogItem", "Catalog", new { url = Model.Direction.Url }, "https"))",
        "name": "@Html.Raw(Model.Direction.Title)"
        }
        },
        {
        "@@type": "ListItem",
        "position": 4,
        "item":
        {
        "@@id": "@(Url.Action("Product", "Catalog", new { url = Model.Direction.Url, productUrl = translator.Url }, "https"))",
        "name": "@Html.Raw(translator.Title)"
        }
        }
        ]
        }
    </script>
}