﻿@{
    Layout = null;
}
@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Utils.Service
@using SolidHome.Service.Interfaces
@model SolidHome.Models.AdminProduct
@inject ContactsService ContactsService
@inject IDirectionService directionService
@inject IHttpContextAccessor httpAccessor
@inject IHtmlLocalizer<Common> localizer
@inject IViewLocalizer viewLocalizer

@{
    Contacts contacts = ContactsService.GetContacts();
    var directions = directionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
    var translator = Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name);
}
<!DOCTYPE html>
<html amp lang="@CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title> @(Html.Raw(translator?.MetaTitle))</title>
    @if (ViewData.ContainsKey("Single") && ViewBag.Single)
    {
        <link rel="canonical" href="@Url.Action("CatalogItem", "Catalog", new {url = Model.Direction.Url}, "https")">
    }
    else
    {
        <link rel="canonical" href="@Url.Action("Product", "Catalog", new {productUrl = translator.Url, url = Model.Direction.Url}, "https")">
    }
    <link rel="shortcut icon" type="image/x-icon" href="~/images/smallIco.png" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
       button,hr,input{overflow:visible}.col,.col-12{max-width:100%}.btn,.itemCustom,.tabButton{text-align:center}.breadcrumb,.dropdown-menu,.nav,.navbar-nav,.tabButton{list-style:none}.col,.col-12,.dropdown{position:relative}.ampTabContainer{display:flex;flex-wrap:wrap;margin:0}.tabButton{flex-grow:1;cursor:pointer;border-bottom:1px solid #d3d3d3}.sub-tittle{font:20px QanelasLight,sans-serif}.tabContent{display:none;width:100%;order:1;margin-bottom:30px}.tabButton[selected]+.tabContent{display:block}.itemCustom{border:1px solid #000;height:280px;width:380px;margin:10px;padding-top:140px}h1,h5,ol,p,ul{margin-top:0}hr,ol,p,ul{margin-bottom:1rem}amp-selector{padding:1rem;margin:1rem}@@media print{*,::after,::before{text-shadow:none;box-shadow:none}a,a:visited{text-decoration:underline}p{orphans:3;widows:3}.navbar{display:none}}html{box-sizing:border-box;font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}*,::after,::before{box-sizing:inherit}footer,header,nav,section{display:block}body{margin:0;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff}a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#0056b3;text-decoration:underline}a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus{outline:0}[role=button],a,button,input,select,textarea{-ms-touch-action:manipulation;touch-action:manipulation}button,input,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}textarea{overflow:auto;resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}template{display:none}h1,h5{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.1;color:inherit}.btn,.dropdown-item,.input-group-addon{font-weight:400;white-space:nowrap}.btn,.form-control,.input-group-addon{line-height:1.25;font-size:1rem}h1{font-size:2.5rem}h5{font-size:1.25rem}hr{box-sizing:content-box;height:0;margin-top:1rem;border:0;border-top:1px solid rgba(0,0,0,.1)}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.col,.col-12{width:100%;min-height:1px;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1}.col-12{-ms-flex:0 0 100%;flex:0 0 100%}.form-control{display:block;width:100%;padding:.5rem .75rem;color:#495057;background-color:#fff;background-image:none;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.form-control::-ms-expand{background-color:transparent;border:0}.form-control:focus{color:#495057;background-color:#fff;border-color:#80bdff;outline:0}.form-control::-webkit-input-placeholder{color:#868e96;opacity:1}.form-control:-ms-input-placeholder{color:#868e96;opacity:1}.form-control:disabled{background-color:#e9ecef;opacity:1}.navbar-nav{padding-top:30px}.btn{display:inline-block;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding:.5rem .75rem;transition:all .15s ease-in-out}.btn:focus,.btn:hover{text-decoration:none}.btn:disabled{opacity:.65}.fade{opacity:0;transition:opacity .15s linear}.fade.show{opacity:1}.dropdown-toggle::after{display:inline-block;width:0;height:0;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-left:.3em solid transparent}.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#212529;text-align:left;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;min-width:5rem}.input-group,.modal-body,.modal-content,.navbar,.social-icons{position:relative}.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;color:#212529;text-align:inherit;background:0 0;border:0}.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f8f9fa}.dropdown-item:active{color:#fff;text-decoration:none;background-color:#007bff}.dropdown-item:disabled{color:#868e96;background-color:transparent}.input-group{display:-ms-flexbox;display:flex}.input-group .form-control{position:relative;z-index:2;-ms-flex:1 1 auto;flex:1 1 auto;width:1%;margin-bottom:0}.input-group .form-control:active,.input-group .form-control:focus,.input-group .form-control:hover{z-index:3}.input-group .form-control,.input-group-addon{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.input-group-addon{vertical-align:middle;padding:.5rem .75rem;margin-bottom:0;color:#495057;text-align:center;background-color:#e9ecef;border:1px solid rgba(0,0,0,.15);border-radius:.25rem}.input-group-addon:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}.form-control+.input-group-addon:not(:first-child){border-left:0}.nav{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0}.nav-link{display:block}.nav-link:focus,.nav-link:hover{text-decoration:none}.nav-tabs{border-bottom:1px solid #ddd}.nav-tabs .nav-item{margin-bottom:-1px}.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:#e9ecef #e9ecef #ddd}.nav-tabs .nav-link.active{color:#fff;border-color:#ddd #ddd #fff}.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.navbar{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between}.navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0}.navbar-nav .nav-link{padding-right:0;padding-left:0}.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background:0 0;border:1px solid transparent;border-radius:.25rem}.btn,.modal-content{background-color:#fff}.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none}.navbar-dark .navbar-brand,.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{color:#fff}.navbar-dark .navbar-toggler{color:rgba(255,255,255,.5);border-color:rgba(255,255,255,.1)}.breadcrumb{padding:.75rem 1rem;margin-bottom:1rem;border-radius:.25rem}.breadcrumb::after{display:block;clear:both;content:""}.breadcrumb-item{float:left}.breadcrumb-item+.breadcrumb-item::before{display:inline-block;padding-right:.5rem;padding-left:.5rem;color:#868e96;content:"/"}.breadcrumb-item+.breadcrumb-item:hover::before{text-decoration:none}.breadcrumb-item.active{color:#868e96}.close:focus,.close:hover{color:#000;text-decoration:none;opacity:.75}button.close{padding:0;border:0;-webkit-appearance:none}.modal-content{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);outline:0}.modal-header{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:15px}.modal-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:15px}.modal-footer{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:end;justify-content:flex-end;padding:15px}.modal-footer>:not(:first-child){margin-left:.25rem}.modal-footer>:not(:last-child){margin-right:.25rem}.d-block{display:block}.d-flex{display:-ms-flexbox;display:flex}.justify-content-between{-ms-flex-pack:justify;justify-content:space-between}.mt-2{margin-top:.5rem}.mt-4{margin-top:1.5rem}.p-0{padding:0}.pb-0{padding-bottom:0}.pt-1{padding-top:.25rem}.pb-2{padding-bottom:.5rem}.pb-3{padding-bottom:1rem}.pt-4{padding-top:1.5rem}.m-auto{margin:auto}@@media (min-width:768px){.mt-md-2{margin-top:.5rem}}.text-justify{text-align:justify}.text-center{text-align:center}.btn{color:#fff;border:none;border-radius:0}.btn-light-dark,.btn-light-dark-small{background:linear-gradient(to bottom right,#65A951,#568148 90%);height:37px;border:none}.btn:focus{outline:0;box-shadow:none}.btn-light-dark{width:266px;border-radius:22px;margin-top:25px}.btn-light-dark-small{width:170px;border-radius:22px;margin-top:40px}@@font-face{font-family:QanelasBold;src:url(/fonts/Qanelas-Bold.otf) format("truetype")}@@font-face{font-family:QanelasLight;src:url(/fonts/Qanelas-Light.otf) format("truetype")}@@font-face{font-family:QanelasMedium;src:url(/fonts/Qanelas-Medium.otf) format("truetype")}@@font-face{font-family:Qanelas-UltraLight;src:url(/fonts/Qanelas-UltraLight.otf) format("truetype")}@@font-face{font-family:Qanelas-LightItalic;src:url(/fonts/Qanelas-LightItalic.otf) format("truetype")}@@font-face{font-family:Qanelas-Thin;src:url(/fonts/Qanelas-Thin.otf) format("truetype")}body{font-family:Qanelas-UltraLight,sans-serif}.thin-tittle-13{font:13px Qanelas-Thin}.uligh_tittle_13{font:13px Qanelas-UltraLight}.sub-tittle_ulight_18{font:18px Qanelas-UltraLight}.sub-tittle_18{font:18px QanelasLight}.sub-tittle_med_18{font:18px QanelasMedium}.sub-tittle_med_25{font:25px QanelasMedium}.main-tittle{font:36px QanelasMedium;color:#fff;margin-bottom:15px}.order-form{width:90vw;margin:10% auto auto}.login-modal input,.login-modal select,.login-modal textarea{width:100%;margin:10px 0;box-shadow:0 0 10px 0 rgba(0,0,0,.1);border:none}footer{background-color:#2E2E2E;flex:0 0 auto}.footer-title{color:#fff}footer li{list-style-type:none}footer ul li a,footer ul li a:hover,footer ul li span{text-decoration:none;color:#fff;font:13px Qanelas-Thin,sans-serif;text-align:left}.footer-row{padding:43px 0 20px;display:flex;justify-content:space-between}.footer-row ul{margin-top:30px}.footer-row ul li{margin:20px auto 0}.footer-row .footer-directions li{margin:4px 0}.footer-directions li{float:left;width:100%}input.form-control{border-radius:22px;font:13px Qanelas-LightItalic,sans-serif;border:none}span#btnGroupAddon2{background-color:transparent;border:none;margin-left:-22px;height:max-content;margin-top:13px;padding:0;z-index:9;cursor:pointer}.input-group-addon{z-index:2}.input-group .form-control:not(:last-child){border-top-right-radius:22px;border-bottom-right-radius:22px}.input-group{width:235px;height:37px}footer hr{border-top:1px solid #888;margin:0}.madeBy{font:13px Qanelas-Thin,sans-serif;color:#fff}.footer-down-row{display:flex;justify-content:space-between;padding:31px 0}.footer-email-form{margin-bottom:37px}.footer-email-form input::-webkit-input-placeholder{font:13px Qanelas-LightItalic,sans-serif;color:#fff}.footer-row .footer-contact li{margin:10px 0}.social-icons{border-radius:50%;width:42px;height:42px;margin:auto;background-color:#4F4F4F;float:left;cursor:pointer}.social-icons:not(:last-child){margin-right:14px}footer a:hover{color:#fff}.social-icons:hover{background:linear-gradient(to bottom right,#629F4F,#5EAE45 30%)}footer .form-control:focus{color:#fff;background-color:#4f4f4f;outline:0}.social-icons:hover::before{opacity:1;-ms-transform:scale(1);transform:scale(1);background-color:#629F4F}.social-icons::before{background-color:#fff}.social-icons:hover::after{-ms-transform:scale(.5);transform:scale(.5)}.social-icons::after{background-color:#629F4F}.social-icons::after,.social-icons::before{content:"";transition-duration:.5s;transition-property:transform,opacity;transition-delay:0s;transition-timing-function:cubic-bezier(.42,0,.24,.97)}.footer-email-form input{background-color:#4F4F4F}@@media screen and (min-width:575px) and (max-width:768px){.footer-row ul{margin-top:5px;margin-bottom:55px}}@@media screen and (max-width:575px){.footer-row ul li,.footer-title{text-align:center}.footer-row ul li{margin:20px auto 0}.footer-email-form{margin:auto}.footer-row{justify-content:center}.social-icons-block{width:fit-content;margin:auto;padding-bottom:50px}}.tittle-padd{padding:150px 0 50px}.email-foot{width:255px}.social-icons-block{width:fit-content;height:80px;margin:-10px auto 10px}ul.footer-nav{margin:auto;width:fit-content}.navbar-nav{margin:auto;right:0}a.navbar-brand{margin:0}.transparent-container{position:absolute;margin:auto;left:0;right:0}.top-header{z-index:1;position:relative}.close,.lang,.navbar-brand,.navbar-toggler{position:absolute}.top-header .nav-item .nav-link{color:#fff;font:18px QanelasMedium,sans-serif}.lang{margin-top:-18px;left:0;top:43px}button:focus{outline:0}#nav-icon span{cursor:pointer;display:block;margin:6px 0;height:3px;width:35px;background:#fff}#nav-icon{border:none}.nav-item.active-light{width:fit-content;border-radius:22px;padding:5px 60px 5px 20px;border:1px solid #629F4F}.nav-item a{color:#000;font:18px QanelasLight,sans-serif}.color-light,.lang .nav-link{color:#fff}.dropdown-content{display:none}.nav-item{margin:15px 12px}amp-sidebar{width:80vw;background:#fff;opacity:1}.active-light .nav-link{padding-bottom:0;border-bottom:none}button#nav-icon{margin-top:15px}.navbar-brand{top:0;left:0;right:0;text-align:center}.navbar-toggler{right:0;top:29px}.main-prodItem-photo{background:url(/images/ProdItemBg.png) no-repeat;background-size:cover;width:100%;height:300px}.main-product-info,.nav-tabs .nav-link.active{background-color:#f9f9f9}.nav-tabs .nav-item{margin:0}.main-product-info .tab-content{height:250px;overflow:auto}.prod-info-tittle{margin:35px 0 0}.main-product-info{padding:100px 0 200px}.modal-content{padding:35px 30px;border-radius:10px}.modal-footer,.modal-header{border:none}.modal-footer>:not(:first-child),.modal-footer>:not(:last-child){margin:0}.close{margin:20px auto auto;float:unset;font-size:48px;font-weight:1;line-height:1;color:#000;text-shadow:none;opacity:1;background-color:#fff;width:45px;height:45px;border-radius:50%;left:0;right:0}.prods-nav a{padding:0 8px;color:#000}.prods-nav{margin-bottom:40px;margin-top:30px}.prod-price{color:#629F4F}.breadcrumb-item+.breadcrumb-item:before,.breadcrumb-row a:hover{color:#fff}amp-selector [option][selected]{outline:0}.IconFb{width:10px;height:22px;background:url(/images/IconFacebookLight.svg) no-repeat}.social-icons:hover .IconFb{background:url(/images/IconFacebookDark.svg) no-repeat}.IconIn{width:23px;height:24px;background:url(/images/IconInLight.svg) no-repeat}.social-icons:hover .IconIn{background:url(/images/IconInDark.svg) no-repeat}.input-group{z-index:0}.toupc{text-transform:uppercase}.breadcrumb-row{width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;margin:auto}.breadcrumb{background-color:transparent}.backForwIcon{width:6px;height:10px;background:url(/images/backForwIcon.svg) no-repeat;margin:0 10px}.back-icon{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.icons{display:inline-block;position:relative}form.amp-form-submit-error .input-hide,form.amp-form-submit-success .input-hide{display:none}.fb-share-button{margin-top:25px}.tabButton[selected]{outline:0;background:0 0;border-bottom:3px solid #629f4f}.littleLoaded{margin:100px auto;width:6px;height:6px;font-size:40px;border-radius:50%;position:relative;-webkit-animation:loadCircleDone 1s forwards;animation:loadCircleDone 1s forwards;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}@@keyframes loadCircleDone{0%{opacity:0;box-shadow:0 -40px 0 0 #619950,16px -38px 0 0 #66A054,30px -32px 0 0 #69A756,42px -22px 0 0 #69AB56,52px -9px 0 0 #69AE56,58px 5px 0 0 #69B056,60px 20px 0 0 #69B056,58px 36px 0 0 #69AF56,52px 52px 0 0 #69AD56,42px 64px 0 0 #69A756,30px 74px 0 0 #69AA56,16px 80px 0 0 #68A456,0 82px 0 0 #659E53,-16px 80px 0 0 #588E47,-30px 74px 0 0 #528742,-42px 64px 0 0 #477A38,-52px 52px 0 0 #467836,-58px 36px 0 0 #457735,-60px 20px 0 0 #477937,-58px 5px 0 0 #477937,-52px -9px 0 0 #4E823E,-42px -22px 0 0 #548944,-30px -32px 0 0 #5B9149,-16px -38px 0 0 #619950}100%{opacity:1;box-shadow:0 -40px 0 0 #619950,16px -38px 0 0 #66A054,30px -32px 0 0 #69A756,42px -22px 0 0 #69AB56,52px -9px 0 0 #69AE56,58px 5px 0 0 #69B056,60px 20px 0 0 #69B056,58px 36px 0 0 #69AF56,52px 52px 0 0 #69AD56,42px 64px 0 0 #69A756,30px 74px 0 0 #69AA56,16px 80px 0 0 #68A456,0 82px 0 0 #659E53,-16px 80px 0 0 #588E47,-30px 74px 0 0 #528742,-42px 64px 0 0 #477A38,-52px 52px 0 0 #467836,-58px 36px 0 0 #457735,-60px 20px 0 0 #477937,-58px 5px 0 0 #477937,-52px -9px 0 0 #4E823E,-42px -22px 0 0 #548944,-30px -32px 0 0 #5B9149,-16px -38px 0 0 #619950}}.done{margin-left:-15px;width:51px;height:42px;background:url(/images/doneIcon.png) no-repeat}.littleLoader {margin: 100px auto;width: 6px;height: 6px;font-size: 40px;border-radius: 50%;position: relative;-webkit-animation: loadCircle 2s ease-in-out infinite;animation: loadCircle 2s ease-in-out infinite;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);}
      </style>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    <meta property="fb:app_id" content="432030960580434" />
    <meta name="description" content="@(Html.Raw(translator?.MetaDescription))" />
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())" />
    <meta property="og:title" content="@(Html.Raw(translator?.MetaTitle))" />
    <meta property="og:url" content="@(httpAccessor.HttpContext.Request.GetUri())" />
    <meta property="og:image" content="https://@httpAccessor.HttpContext.Request.Host@Html.Raw(Model.MainImage)" />
    <meta property="og:type" content="website" />
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "url" : "@httpAccessor.HttpContext.Request.GetUri()",
        "name": "@Html.Raw(translator.Title)",
        "image": "https://@httpAccessor.HttpContext.Request.Host@Html.Raw(Model.MainImage)",
        "description": "@Html.Raw(Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.MetaDescription)",
        "offers":
        {
        "@@type": "AggregateOffer",
        "priceCurrency" : "USD",
        "lowPrice" : "@Model.ProductDescriptions.Select(c => c.Price).OrderBy(c => c).FirstOrDefault()",
        "highPrice" : "@Model.ProductDescriptions.Select(c => c.Price).OrderByDescending(c => c).FirstOrDefault()",
        "offerCount" : "@Model.ProductDescriptions.Count",
        "offers" : [
        @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
        {

            @Html.Raw("\t\t{\"@type\": \"Offer\",\n" +
           "\t\t\"name\" : \"" + Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title + "\"," +
           "\t\t\"Price\" : \"" + Html.Raw(Model.ProductDescriptions[i].Price) + "\"" +
           "}" + (i == Model.ProductDescriptions.Count - 1 ? "" : ","))
        }
        ]
        }
        }
    </script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement":
        [
        {
        "@@type": "ListItem",
        "position": 1,
        "item":
        {
        "@@id": "@("https" + "://" + httpAccessor.HttpContext.Request.Host + (CultureInfo.CurrentCulture.Name == "ru" ? "/ru" : ""))",
        "name": "@localizer["Main"]"
        }
        },
        {
        "@@type": "ListItem",
        "position": 2,
        "item":
        {
        "@@id": "@(Url.Action("Index", "Catalog", null, "https"))",
        "name": "@localizer["Catalog"]"
        }
        },
        {
        "@@type": "ListItem",
        "position": 3,
        "item":
        {
        "@@id": "@(Url.Action("CatalogItem", "Catalog", new { url = Model.Direction.Url }, "https"))",
        "name": "@Html.Raw(Model.Direction.Title)"
        }
        },
        {
        "@@type": "ListItem",
        "position": 4,
        "item":
        {
        "@@id": "@(Url.Action("Product", "Catalog", new { url = Model.Direction.Url, productUrl = translator.Url }, "https"))",
        "name": "@Html.Raw(translator.Title)"
        }
        }
        ]
        }
    </script>
    
    
</head>

<body class="dark-body">


<header class="transparent-container own-container big-header">
    <div class="top-header">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" asp-protocol="https" asp-controller="home" asp-action="index">
                <amp-img width="103" height="75" src="/images/Logo/LogoLight.svg" alt="Logo"></amp-img>
            </a>
            <button on="tap:sidebar.toggle" class="navbar-toggler" type="button" id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="lang nav-item">
                @if (ViewData.ContainsKey("Single") && ViewBag.Single)
                {
                    <a class="nav-link" asp-protocol="https" asp-controller="catalog" asp-action="CatalogItemAmp" asp-route-url="@Model.Direction.Url" asp-route-lang="@(CultureInfo.CurrentCulture.Name == "ru" ? "" : "ru")">
                        @(CultureInfo.CurrentCulture.Name == "uk" ? "РУС" : "УКР")
                    </a>
                }
                else
                {
                    <a class="nav-link" asp-protocol="https" asp-controller="catalog" asp-action="ProductAmp" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@Model.ProductTranslators.FirstOrDefault(c => c.Code == (CultureInfo.CurrentCulture.Name == "ru" ? "uk" : "ru"))?.Url" asp-route-lang="@(CultureInfo.CurrentCulture.Name == "ru" ? "" : "ru")">
                        @(CultureInfo.CurrentCulture.Name == "uk" ? "РУС" : "УКР")
                    </a>
                }
                
            </div>
        </nav>
    </div>
</header>
<amp-sidebar class="index" id="sidebar" layout="nodisplay" side="left">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link toupc" asp-protocol="https" asp-controller="home" asp-action="Index" data-active="dark">@localizer["Main"]</a>
        </li>
        <li class="nav-item catalog-drop">
            <a class="nav-link " href="catalog.html">КАТАЛОГ<i class="icons icon-drop"></i></a>
            <div class="dropdown-content">
                @foreach (var direction in directions)
                {
                    <a class="dropdown-item sub-tittle_18" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">@Html.Raw(direction.Title)</a>
                }
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link toupc" asp-protocol="https" asp-controller="works" asp-action="index" data-active="light">@localizer["Works"]</a>
        </li>
        <li class="nav-item active-light">
            <a class="nav-link toupc" asp-protocol="https" asp-controller="news" asp-action="Index" data-active="light">@localizer["News"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link toupc" asp-protocol="https" asp-controller="contacts" asp-action="Index" data-active="light">@localizer["Contacts"]</a>
        </li>
    </ul>
</amp-sidebar>

<section class="main-prodItem-photo">
    <div class="tittle-padd">
        <p class="main-tittle text-center toupc">@localizer["Catalog"]</p>
        <div class="breadcrumb-row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="Home" asp-action="Index" class="color-light toupc">@localizer["Main"]</a></li>
                <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="catalog" asp-action="Index" class="color-light toupc">@localizer["Catalog"]</a></li>
                <li class="breadcrumb-item sub-tittle_med_18">
                    <a asp-protocol="https" asp-controller="catalog" asp-action="CatalogItem" asp-route-url="@Model.Direction.Url" class="color-light toupc">
                        @Html.Raw(Model.Direction.Title)
                    </a>
                </li>
                @if (!ViewData.ContainsKey("Single"))
                {
                    <li class="breadcrumb-item sub-tittle_med_18 active">
                        <a asp-protocol="https" asp-controller="Catalog" asp-action="Product" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@translator.Url" class="color-light">
                            @Html.Raw(translator.Title)
                        </a>
                    </li>
                }
            </ol>
        </div>
    </div>
</section>
<section class="main-product-info">
    <div class="own-container">
        <div class="row justify-content-between">
            <div class="col-12 prod-photo">
                <amp-carousel width="1700"
                              height="1909" layout="responsive" type="slides">
                    @foreach (var image in Model.PreviewImages)
                    {
                        <amp-img src="@image.Path"
                                 alt="@image.ImageTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Alt"
                                 width="1700"
                                 height="1909">
                        </amp-img>
                    }

                </amp-carousel>
            </div>
            <div class="col-12 prod-info-block">
                <div class="prods-nav">
                    <a asp-protocol="https" asp-controller="catalog" asp-action="catalogItem" asp-route-url="@Model.Direction.Url" class="sub-tittle_ulight_18">@viewLocalizer["Back"]</a>
                    <a asp-protocol="https" asp-controller="catalog" asp-action="productAmp" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@ViewBag.Next"><i class="icons backForwIcon back-icon"></i></a>
                    <a asp-protocol="https" asp-controller="catalog" asp-action="productAmp" asp-route-url="@Model.Direction.Url" asp-route-productUrl="@ViewBag.Previous"><i class="icons backForwIcon"></i></a>
                </div>
                <h1 class="sub-tittle_med_25 pb-3">@Html.Raw(translator.Title)</h1>
                <p class="sub-tittle_18">
                    @viewLocalizer["Price"] <span class="sub-tittle_med_25 prod-price" [text]="price">@Html.Raw(String.Format(viewLocalizer["FromTo"].Value, Model.ProductDescriptions?[0]?.Price))</span>
                </p>


                <amp-selector role="tablist"
                              layout="container"
                              class="ampTabContainer">
                    @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
                    {
                        <div role="tab"
                             class="tabButton"
                             tabindex="@i"
                             @(i == 0 ? "selected" : "")
                             on="tap:AMP.setState({price: '@Html.Raw(String.Format(viewLocalizer["FromTo"].Value, Model.ProductDescriptions?[i].Price))'})"
                             option="c">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)</div>
                        <div role="tabpanel"
                             class="tabContent">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Description)</div>

                    }
                </amp-selector>



                @*<ul class="nav nav-tabs justify-content-between prod-info-tittle" id="myTab" role="tablist">
                            @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <li class="nav-item col p-0 text-center">
                                        <a class="nav-link active @(Model.ProductDescriptions.Count == 1 ? "tab-padd" : "")" id="@(i)-tab" data-price="@Html.Raw(String.Format(viewLocalizer["FromTo"].Value, Model.ProductDescriptions?[0].Price))" data-toggle="tab" href="#@(i)Tab" role="tab" aria-selected="true">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item col p-0 text-center">z
                                        <a class="nav-link" id="@(i)-tab" data-price="@Html.Raw(String.Format(viewLocalizer["FromTo"].Value, Model.ProductDescriptions?[i].Price))" data-toggle="tab" href="#@(i)Tab" role="tab" aria-selected="false">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)</a>
                                    </li>
                                }
                            }
                        </ul>
                        <div class="tab-content mt-4 pt-1 @(Model.ProductDescriptions.Count < 2 ? "descrheight" : "")" id="myTabContent">
                            <!--<div class="descr">-->
                            @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <div class="tab-pane fade sub-tittle_18 active show" id="@(i)Tab" role="tabpanel" aria-labelledby="@(i)-tab" aria-expanded="true">
                                        @Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Description)
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade sub-tittle_18" id="@(i)Tab" role="tabpanel" aria-labelledby="@(i)-tab" aria-expanded="false">
                                        @Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Description)
                                    </div>
                                }
                            }
                            <!--</div>-->
                        </div>*@
                <div class="row justify-content-between">
                    <button type="button" on="tap:my-lightbox.open" role="button" class="btn btn-modal btn-light-dark sub-tittle_18" data-toggle="modal"
                            data-target="#helpBlock">
                        @viewLocalizer["MakeOrder"]
                        <span class="icons littleBucket"></span>
                    </button>
                    <!-- Your share button code -->
                    <div class="fb-share-button" data-href="@(Url.Action("Product", "Catalog", new {productUrl = translator?.Url, url = Model.Direction.Url}, "https"))" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                        <amp-social-share type="facebook" data-param-app_id="882276045287716" width="36" height="36"></amp-social-share>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<amp-lightbox id="my-lightbox" layout="nodisplay">


    <form action-xhr="@Url.Action("MakeOrder", "OrderApi", null, "https")" method="post" target="_top" id="product-order"  class="order-form">
        <div class="input-hide">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="sub-tittle_18 m-auto" id="helpBlockLabel">@viewLocalizer["Ordering"]</h5>
                </div>
                <div class="modal-body  pt-4 mt-2 pb-0">
                    <p class="uligh_tittle_13 text-justify">@viewLocalizer["OrderInfo"]</p>
                </div>
                <div class="modal-footer d-block login-modal">
                    <fieldset>
                        <input required type="text" name="Name" placeholder="@viewLocalizer["Name"]"/>
                        <input required type="tel" name="Phone" placeholder="@viewLocalizer["Phone"]"/>
                        <input required type="email" name="Email" id="email" placeholder="@viewLocalizer["Email"]"/>
                        @if (Model.ProductDescriptions.Count > 1)
                        {
                                @*<div class="dropdown">
                                        <button class="dropdown-toggle order-active" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @(Html.Raw(Model.ProductDescriptions?[0].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title))
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            @for (int i = 0; i < Model.ProductDescriptions.Count; i++)
                                            {
                                                <button class="dropdown-item order-item" type="button">@Html.Raw(Model.ProductDescriptions[i].ProductDescriptionTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title)</button>
                                            }
                                        </div>
                                    </div>*@
                            <select name="Clarification"
                                    asp-items="@Model.ProductDescriptions.Select(c => new SelectListItem()
                                               {
                                                   Text = c.ProductDescriptionTranslators.FirstOrDefault(pdt => pdt.Code == CultureInfo.CurrentCulture.Name)?.Title,
                                                   Value = c.ProductDescriptionTranslators.FirstOrDefault(pdt => pdt.Code == CultureInfo.CurrentCulture.Name)?.Title
                                               })"></select>
                        }

                        <textarea name="Message" placeholder="@viewLocalizer["LeaveMessage"]" rows="3"></textarea>
                        <input type="hidden" name="ProductName" value="@Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title">
                        <input type="hidden" name="ProductUrl" value="@Model.ProductTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Url">
                    </fieldset>
                    @*<div class="g-recaptcha" data-sitekey="6Lf61lIUAAAAALAJP1GldOY330GYYzOWXuQnYymG"></div>*@
                    <button type="submit" class="btn-light-dark-small color-light sub-tittle_18">@viewLocalizer["Send"]</button>
                </div>
            </div>
        </div>
        <div submit-success>
            <template type="amp-mustache">
                <div class="modal-content">
                    @Html.Partial("_OrderSuccess", Model)
                </div>
            </template>
        </div>
        <div submit-error>

            <template type="amp-mustache">
                <div class="modal-content">
                    @Html.Partial("_OrderSuccess", Model)
                </div>
            </template>

        </div>
        
        @*<div submit>
            <template type="amp-mustache">
                <div class="modal-content">
                <div class="text-center">
                    <h1 class="sub-tittle unvis-tittle m-0"></h1>
                    <div class="loadCircle">
                        <div class="littleLoader"></div>
                    </div><a class="btn btn-unvisible bottom-big-m"></a>

                </div>
                    </div>
</template>
</div>*@


    </form>


    <div class="lightbox"
         on="tap:my-lightbox.close"
         role="button"
         tabindex="0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</amp-lightbox>
<footer>
    <div class="top-footer">
        <div class="own-container">
            <div class="row footer-row">
                <div class="footer-quick col-12 text-center">
                    <p class="footer-title sub-tittle_ulight_18">@localizer["Subscribe"]</p>
                    <ul class="footer-nav p-0">
                        <li class="email-foot">
                            <div class="input-group footer-email-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="@localizer["Email"]"
                                           aria-label="@localizer["Email"]" aria-describedby="btnGroupAddon2">
                                    <span class="input-group-addon" id="btnGroupAddon2">
                                        <i class="icons icon-submit"></i>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="social-icons-block">
                            <a class="social-icons d-flex thin-tittle-13" href="https://www.facebook.com/solidhome.ukraine/">
                                <i class="icons IconFb m-auto"></i>
                            </a>
                            <a class="social-icons d-flex thin-tittle-13" href="https://www.linkedin.com/company/solidhome-ua/">
                                <i class="icons IconIn m-auto"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-quick col-12 text-center">
                    <p class="footer-title sub-tittle_18 toupc">@localizer["Contacts"]</p>
                    <ul class="footer-contact p-0 mt-md-2">
                        <li>
                            <span>@Html.Raw(contacts.Address.Find(c => c.Language == CultureInfo.CurrentCulture.Name).Text)</span>
                        </li>
                        <li class="m-0">
                            <span>(032)-232-83-09</span>
                        </li>
                        <li class="m-0">
                            <span>(063)-268-52-28</span>
                        </li>
                        <li class="m-0">
                            <span>(044)-500-37-55</span>
                        </li>
                        <li class="m-0">
                            <span>(067)-332-26-03</span>
                        </li>
                        <li>
                            <span>@Html.Raw(contacts.Email)</span>
                        </li>
                    </ul>
                </div>
                <div class="footer-quick col-12  pt-4 text-center">
                    <p class="footer-title sub-tittle_18 toupc">@localizer["QuickAccess"]</p>
                    <ul class="footer-nav p-0 mt-md-2">
                        <li><a asp-protocol="https" asp-controller="Home" asp-action="Index" class="thin-tittle-13">@localizer["Main"]</a></li>
                        <li><a asp-protocol="https" asp-controller="catalog" asp-action="Index" class="thin-tittle-13">@localizer["Catalog"]</a></li>
                        <li><a asp-protocol="https" asp-controller="news" asp-action="Index" class="thin-tittle-13">@localizer["News"]</a></li>
                        <li><a asp-protocol="https" asp-controller="contacts" asp-action="Index" class="thin-tittle-13">@localizer["Contacts"]</a></li>
                    </ul>
                </div>
                <div class="footer-quick  col-12  pt-4 text-center">
                    <p class="footer-title sub-tittle_18 toupc">@localizer["Catalog"]</p>
                    <ul class="footer-directions p-0 mt-md-2">
                        @foreach (var direction in directions)
                        {
                            <li><a asp-protocol="https" asp-controller="catalog" asp-action="catalogItem" asp-route-url="@direction.Url" class="thin-tittle-13">@Html.Raw(direction.Title)</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="down-footer">
        <div class="own-container">
            <div class="row footer-down-row">
                <div class="col-12 text-center madeBy down-footer-item pb-2">
                    SOLID HOME © 2018. All Rights Reserved.
                </div>
                <div class="col-12 text-center madeBy  down-footer-item ">
                    Website by <a href="http://www.solidbrain.com.ua" class="color-light"><u>SOLID BRAIN</u></a>
                </div>
            </div>
        </div>
    </div>
</footer>




</body>
</html>
