﻿@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IReviewService ReviewService
@{
    var reviews = ReviewService.GetAllReviews();
}
<p class="sub-tittle_med_25">Замовлення</p>
<table class="table table-hover main-info-block">
    <thead>
        <tr>
            <th class="sub-tittle_med_18">#</th>
            <th class="sub-tittle_med_18">Ім'я користувача</th>
            <th class="sub-tittle_med_18">Email</th>
            <th class="sub-tittle_med_18">Дата допису</th>
            <th class="sub-tittle_med_18">Відгук</th>
            <th class="sub-tittle_med_18">Публікація</th>
            <th class="sub-tittle_med_18">Блокування</th>
            <th class="sub-tittle_med_18">Видалення</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Review review in reviews)
    {
        <tr>
            <th scope="row">1</th>
            <td>@review.UserName</td>
            <td>@review.Email</td>
            <td>@review.CreateDate</td>
            <td>@review.Content</td>
            <td>
                <a asp-controller="ReviewApi" asp-area="Admin" asp-action="ChangeApprove" asp-route-id="@review.ReviewId" class="edit-btn publish-news @(review.Approved ? "active-btn-edit" : "") @(review.Approved ? "a-disabled" : "")">Публікація</a>
            </td>
            <td>
                <a asp-controller="ReviewApi" asp-area="Admin" asp-action="ChangeApprove" asp-route-id="@review.ReviewId" class="block-btn unpublish-news @(review.Approved ? "" : "active-btn-block") @(review.Approved ? "" : "a-disabled")">Блокувати</a>
            </td>
            <td>
                <a class="delete-btn remove-item" asp-area="Admin" asp-controller="ReviewApi" asp-action="RemoveReview" asp-route-id="@review.ReviewId">Видалити</a>
            </td>
        </tr>
    }

    </tbody>
</table>