﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
<div class="text-center">
    <h1 class="sub-tittle m-0">@ViewLocalizer["ThankYou"]</h1>
    <div class="loadCircleDone">
        <div class="littleLoaded"><i class="icons done"></i></div>
    </div>
</div>