﻿@using System.Globalization
@using System.IO
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Utils.Service
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor httpAccessor
@inject ContactsService ContactsService
@{
    Contacts contacts = ContactsService.GetContacts();
}
@section Meta
    {
    <meta name="description" content="@Localizer["MetaDescription"]">
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())">
}
@section Title{
    <title>@Localizer["MetaTitle"]</title>
}
<section class="main-contact-photo">
    <div class="tittle-padd toupc">  <h1 class="main-tittle text-center">@Localizer["Contacts"]</h1></div>
</section>
<section class="contact-info">
    <div class="own-container">
        <div class="row contact-short-info justify-content-between">
            <div class="contact-item col-12 col-lg-4 col-md-12 pb-3 d-flex justify-content-lg-start justify-content-sm-center justify-content-between">
                <span class="d-flex">
                    <span class="short-item-info d-inline-flex ">
                        <i class="icons LocationIcon m-auto"></i>
                    </span>
                    <span class="sub-tittle_18 m-auto pl-4">@Html.Raw(contacts.Address.Find(c => c.Language == CultureInfo.CurrentCulture.Name).Text)</span>
                </span>
            </div>

            <div class="contact-item phones-contact col-12 col-lg-4 col-md-12 pb-3 d-flex justify-content-lg-center justify-content-sm-center justify-content-between">
                <span class="d-flex">
                    <span class="short-item-info d-inline-flex">
                        <i class="icons PhonesmallIcon m-auto"></i>
                    </span>
                    <span class="phones-block">
                        <span class="sub-tittle_18 m-auto pl-4">(032)-232-83-09<br>(044)-500-37-55</span>
                        <span class="sub-tittle_18 m-auto pl-3">(063)-268-52-28<br>(067)-332-26-03</span>
                    </span>
                </span>
            </div>
            <div class="contact-item col-12 col-lg-4 col-md-12 pb-3 d-flex justify-content-lg-end justify-content-sm-center justify-content-between">
                <span class="d-flex">
                    <span class="short-item-info d-inline-flex">
                        <i class="icons MassageIcon m-auto"></i>
                    </span>
                    <span class="sub-tittle_18  m-auto pl-4">@contacts.Email</span>
                </span>
            </div>
        </div>
        <div class="row contact-row justify-content-between">
            <div class="col-lg-6 contact-us-form">
                <h4 class="contact-tittle sub-tittle_med_25">@Localizer["ContactUs"]</h4>
                <form class="contact-form justify-content-end row" asp-controller="MailApi" asp-action="SendMail" method="post">
                    <input type="text" name="UserName" aria-label="@Localizer["Name"]" placeholder="@Localizer["Name"]" class="sub-tittle_18" />
                    <input type="text" name="Email" aria-label="@Localizer["Email"]" placeholder="@Localizer["Email"]" class="sub-tittle_18" />
                    <textarea name="Content" rows="13" class="contact-message sub-tittle_18" aria-label="@Localizer["Message"]"
                              placeholder="@Localizer["Message"]"></textarea>
                    <button type="submit" class="btn subm-conctact btn-light-dark-small sub-tittle_18">@Localizer["Send"]</button>
                </form>
            </div>

            <div class="col-lg-5 p-0">
                <h4 class="contact-tittle sub-tittle_med_25">@Localizer["Location"]</h4>
                <div id="map"></div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV3EiDdsysjiYeaUxYxBHWZYZBB60fSTU&callback=initMap">
    </script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "address": [
        {
        "@@type": "PostalAddress",
        "addressLocality": "@Localizer["CityLviv"]",
        "postalCode": "79015",
        "streetAddress": "@Localizer["Address1"]"
        },
        {
        "@@type": "PostalAddress",
        "addressLocality": "@Localizer["CityKyiv"]",
        "postalCode": "03143",
        "streetAddress": "@Localizer["Address2"]"
        }
        ],
        "email": "info@solidhome.com.ua",
        "telephone": [
        "(032)-232-83-09",
        "(044)-500-37-55",
        "(063)-268-52-28",
        "(067)-332-26-03"
        ]
        }
    </script>
}