﻿@using System.Globalization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IOrderService OrderService
@{
    CultureInfo.CurrentCulture = new CultureInfo("uk");
    List<Order> mailsList = OrderService.GetAllOrders().ToList();
}
<p class="sub-tittle_med_25">Замовлення</p>
<table class="table table-hover main-info-block">
    <thead>
        <tr>
            <th class="sub-tittle_med_18">#</th>
            <th class="sub-tittle_med_18">Ім'я користувача</th>
            <th class="sub-tittle_med_18">Дата</th>
            <th class="sub-tittle_med_18">Продукт</th>
            <th class="sub-tittle_med_18">Email</th>
            <th class="sub-tittle_med_18">Номер телефону</th>
            <th class="sub-tittle_med_18">Повідомлення</th>
            <th class="sub-tittle_med_18">Видалення</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Order order in mailsList)
    {
        <tr>
            <th scope="row">1</th>
            <td>@order.Name</td>
            <td>@order.Date.ToLongDateString()</td>
            <td><a class="btn-link" href="@order.Url">@(order.ProductName + "; " + (order.Clarification ?? ""))</a></td>
            <td>@order.Email</td>
            <td>@order.Phone</td>
            <td>@order.Message</td>
            <td>
                <a class="delete-btn remove-item" asp-area="Admin" asp-controller="OrderApi" asp-action="RemoveOrder" asp-route-id="@order.OrderId">Видалити</a>
            </td>
        </tr>
    }

    </tbody>
</table>