﻿ @using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@using SolidHome.Utils.Service
@using UnidecodeSharpFork
@inject IHtmlLocalizer<Common> localizer
@inject IDirectionService DirectionService
@inject IHttpContextAccessor httpAccessor
@inject ContactsService ContactsService
@{
    Contacts contacts = ContactsService.GetContacts();
    IEnumerable<SmallDirection> directions = DirectionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();

}
<footer>
    <div class="top-footer">
        <div class="own-container">
            <div class="row footer-row">
                <div class="footer-quick col-lg-3 col-md-6 col-sm-6 pl-0">
                    <p class="footer-title sub-tittle_ulight_18">@localizer["Subscribe"]</p>
                    <ul class="footer-nav p-0">
                        <li>
                            <div class="input-group footer-email-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="@localizer["Email"]"
                                           aria-label="@localizer["Email"]" aria-describedby="btnGroupAddon2">
                                    <span class="input-group-addon" id="btnGroupAddon2">
                                        <i class="icons icon-submit"></i>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="BottomToTop social-icons-block">
                            <a class="social-icons d-flex thin-tittle-13" href="https://www.facebook.com/solidhome.ukraine/">
                                <i class="icons IconFb m-auto"></i>
                            </a>
                            <a class="social-icons d-flex thin-tittle-13" href="https://www.linkedin.com/company/solidhome-ua/">
                                <i class="icons IconIn m-auto"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-quick col-lg-2 col-md-6  col-sm-6 pt-lg-0 pt-md-4 text-right text-lg-left">
                    <p class="footer-title sub-tittle_18 toupc">@localizer["Contacts"]</p>
					<ul class="footer-contact p-0 mt-md-2">
						<li>
							<span>@Html.Raw(contacts.Address.Find(c => c.Language == CultureInfo.CurrentCulture.Name).Text)</span>
						</li>
						<li class="m-0">
							<span>(032)-232-83-09</span>
						</li>
						<li class="m-0">
							<span>(063)-268-52-28</span>
						</li>
						<li class="m-0">
							<span>(044)-500-37-55</span>
						</li>
						<li class="m-0">
							<span>(067)-332-26-03</span>
						</li>
						<li>
							<span>@Html.Raw(contacts.Email)</span>
						</li>
					</ul>
                </div>
                <div class="footer-quick col-lg-2 col-md-4 col-sm-4">
                    <p class="footer-title sub-tittle_18 toupc">@localizer["QuickAccess"]</p>
                    <ul class="footer-nav p-0 mt-md-2">
                        <li><a asp-protocol="https" asp-controller="Home" asp-action="Index" class="thin-tittle-13">@localizer["Main"]</a></li>
                        <li><a asp-protocol="https" asp-controller="catalog" asp-action="Index" class="thin-tittle-13">@localizer["Catalog"]</a></li>
                        <li><a asp-protocol="https" asp-controller="news" asp-action="Index" class="thin-tittle-13">@localizer["News"]</a></li>
                        <li><a asp-protocol="https" asp-controller="contacts" asp-action="Index" class="thin-tittle-13">@localizer["Contacts"]</a></li>
                    </ul>
                </div>
                <div class="footer-quick col-lg-4 col-md-8 col-sm-8">
                    <p class="footer-title sub-tittle_18 toupc">@localizer["Catalog"]</p>
                    <ul class="footer-directions p-0 mt-md-2">
                        @foreach (var direction in directions)
                        {
                            <li><a asp-protocol="https" asp-controller="catalog" asp-action="catalogItem" asp-route-url="@direction.Url" class="thin-tittle-13">@Html.Raw(direction.Title)</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="down-footer">
        <div class="own-container">
            <div class="row footer-down-row">
                <div class="col-lg-4 col-md-4 col-6 pl-0 madeBy down-footer-item">
                    SOLIDHOME © 2018. All Rights Reserved.
                </div>
                <div class="col-lg-4 col-md-4 col-6 text-right madeBy pr-0 down-footer-item">
                    Website by <a href="http://www.solidbrain.com.ua" class="color-light"><u>SOLID BRAIN</u></a>
                </div>
            </div>
        </div>
    </div>
</footer>
