﻿@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IHtmlLocalizer<Common> localizer
@inject IHttpContextAccessor httpAccessor
@inject IDirectionService DirectionService
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
}
<header class="transparent-container own-container">
    <div class="top-header">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" asp-protocol="https" asp-controller="home" asp-action="index"><img src="~/images/Logo/LogoLight.svg" alt="Logo" /></a>
            <button class="navbar-toggler" type="button" id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="home" asp-action="Index" data-active="dark">@localizer["Main"]</a>
                    </li>
                    <li class="nav-item catalog-drop">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="catalog" asp-action="index" data-active="light">@localizer["Catalog"]<i class="icons icon-drop"></i></a>
                        <div class="dropdown-content">
                            @foreach (var direction in directions)
                            {
                                <a class="dropdown-item sub-tittle_18" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">@Html.Raw(direction.Title)</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="works" asp-action="index" data-active="light">@localizer["Works"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="news" asp-action="Index" data-active="light">@localizer["News"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="contacts" asp-action="Index" data-active="light">@localizer["Contacts"]</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link toupc" data-active="light">(063) 268 52 28</p>
                    </li>
                </ul>
            </div>
            @Html.Partial("_Languages")
        </nav>
    </div>
</header>