﻿@inject IHttpContextAccessor httpAccessor
@using System.Globalization
@using Microsoft.AspNetCore.Http
@{
    string currentController = ViewContext.RouteData.Values["Controller"].ToString();
    string currentAction = ViewContext.RouteData.Values["Action"].ToString();
}


<div class="lang nav-item">
    <a class="nav-link" asp-protocol="https" asp-controller=@currentController asp-action=@currentAction asp-route-lang="@(CultureInfo.CurrentCulture.Name == "ru" ? "" : "ru")">
        @(CultureInfo.CurrentCulture.Name == "uk" ? "РУС" : "УКР")
    </a>
</div>