﻿@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Localization
@inject IHtmlLocalizer<Common> localizer
@inject IHttpContextAccessor httpContext
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("Meta", false)
    @RenderSection("Links", false)
    @if (IsSectionDefined("Title"))
    {
        @RenderSection("Title")
    }
    else
    {
        <title>@ViewData["Title"] - SolidHome</title>
    }
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css">
    <link rel="alternate" hreflang="@localizer["HrefLang"]" href="@httpContext.HttpContext.Request.GetUri()" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/smallIco.png" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/slick-1.8.0/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick-1.8.0/slick/slick-theme.css">
    @*<link rel="stylesheet" href="~/css/minified/sitecss.min.css" />*@
    @*<link rel="stylesheet" href="~/css/style.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.min.css">*@

</head>
<body>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '882276045287716',
                xfbml: true,
                version: 'v2.12'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/ru-RU/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
    else
    {
        @Html.Partial("_Header")
    }

    <div id="content-body">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.js"></script>
    @*<script src="~/js/allscripts.min.js" asp-append-version="true"></script>*@
    <script src="~/js/shared.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/slick.js"></script>
<script src="~/js/order.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script type='text/javascript'>

    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#000",
                "opacity": 0.7
            },
            "button": {
                "background": "darkgreen"
            }

        },
        "type": "opt-in",
        "content": {
            "message": "@localizer["PolicyMessage"]",
            "link": "@localizer["PolicyHref"]",
            "deny": "@localizer["PolicyDeny"]",
            "allow" : "@localizer["PolicyAgree"]",
            "href": "@Url.Action("Index", "Privacy")"
        },
        onInitialise: function (status) {
            (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)
                [0]; a.async = 1; a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (didConsent) {
                // enable cookies
                ga('require', 'displayfeatures');
                ga('set', 'anonymizeIp', undefined);
                ga('create', 'UA-57261022-1', 'auto');
                ga('set', 'forceSSL', true);
            } else {
                // disable cookies
                ga('set', 'displayFeaturesTask', null);
                ga('set', 'anonymizeIp', true);
            }
            ga('send', 'pageview');
        },

        onStatusChange: function (status, chosenBefore) {
            (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)
                [0]; a.async = 1; a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (didConsent) {
                // enable cookies
                ga('require', 'displayfeatures');
                ga('set', 'anonymizeIp', undefined);
                ga('create', 'UA-116921468-1', 'auto');
                ga('set', 'forceSSL', true);
            } else {
                // disable cookies
                ga('set', 'displayFeaturesTask', null);
                ga('set', 'anonymizeIp', true);
            }
            ga('send', 'pageview');
        },

        onRevokeChoice: function () {
            (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)
                [0]; a.async = 1; a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            var type = this.options.type;
            if (type == 'opt-in') {
                // disable cookies
                ga('set', 'displayFeaturesTask', null);
                ga('set', 'anonymizeIp', true);
            }
            if (type == 'opt-out') {
                // enable cookies
                ga('require', 'displayfeatures');
                ga('set', 'anonymizeIp', undefined);
                ga('create', 'UA-116921468-1', 'auto');
                ga('set', 'forceSSL', true);
            }
            ga('send', 'pageview');
        }
    });

</script> 

 <script src="~/js/minified/sitejs.min.js"></script>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = '9nSY5SBeJL'; var d = document; var w = window; function l() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
            } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
        })();</script>
    <!-- {/literal} END JIVOSITE CODE -->
    @RenderSection("Scripts", required: false)
</body>
</html>
