﻿@section Meta{
    <meta name="robots" content="noindex" />
}

    <section class="main-catalog-photo">
        <div class="tittle-padd">
            <h1 class="main-tittle text-center toupc">Політика конфіденційності</h1>
        </div>
    </section>
    <div class="container py-5">
        <h3>Вступ</h3>
        <p>
            Компанія SolidHome (або" ми ") цінує конфіденційність відвідувачів. Ця політика конфіденційності узагальнює інформацію, яку ми можемо отримати від відвідувача ("вас"), і що ми будемо і не будемо з цим робити. Зверніть увагу, що ця політика конфіденційності не регулює збирання та використання інформації компаніями, які не контролює SolidHome, а також фізичних осіб, які не працюють або не керуються SolidHome. Якщо ви відвідуєте веб-сайт, про який ми згадуємо чи посилаємось, обов'язково перегляньте його політику конфіденційності, перш ніж надати інформацію про сайт.
        </p>
        <h3>Що ми робимо з вашою особистою інформацією</h3>
        <p>
            У Вас завжди є вибір, чи розкривати нам особисту інформацію, хоча, якщо ви вирішите не робити цього, ми залишаємо за собою право не реєструвати вас як користувача або надавати вам будь-які продукти чи послуги. "Особиста інформація" означає інформацію, яка може бути використана для ідентифікації вас як особистості, наприклад, наприклад:

        </p>
        <ul>
            <li>ваше ім'я, компанія, електронна адреса, номер телефону, платіжна адреса та адреса доставки</li>
            <li>інформація про кредитну картку</li>
            <li>будь-яка інформація про налаштування облікового запису, яку ви надаєте нам</li>
            <li>
                ім'я домену вашого комп'ютера та IP-адреса, що вказує
                де ваш комп'ютер знаходиться в Інтернеті
            </li>
            <li>дані сеансу для вашого входу</li>
        </ul>
        <p>
            Якщо ви надасте нам особисту інформацію, безпосередньо або через торговельного посередника або іншого ділового партнера, ми:
        </p>
        <ul>
            <li>
                не продаєм або здаєм в оренду третій стороні без вашого дозволу - хоча, якщо ви не відмовитесь (див. нижче), ми можемо використовувати вашу контактну інформацію, щоб надати вам інформацію, яку ми вважаємо необхідною для знання або може виявитися корисною, наприклад новини про наші послуги та продукти та зміни в Загальних положеннях та умовах;

            </li>
            <li>
                приймати комерційно прийнятні запобіжні заходи для захисту інформації від втрати, неправильного використання та несанкціонованого доступу, розкриття, зміни та знищення;
            </li>
            <li>не використовувати та не розголошувати інформацію крім:</li>
            <ul>
                <li>
                    іншими способами, описаними в цій політиці конфіденційності або які ви іншим                           чином погодилися;
                </li>
                <li>
                    в сукупності з іншою інформацією таким чином, щоб ваша ідентичність не могла обґрунтовано визначатися (наприклад, статистичні збірники);

                </li>
                <li>
                    як це вимагається законом, наприклад, у відповідь на повістку суду або ордера на пошук;
                </li>
                <li>
                    зовнішнім аудиторам, які погодились зберігати конфіденційність інформації;
                </li>
                <li>
                    як це необхідно для забезпечення виконання Загальних положень та умов;
                </li>
                <li>
                    як це необхідно для захисту прав, безпеки або майна Назва Компанії, її користувачів або інших осіб; це може включати (наприклад) обмін інформацією з іншими організаціями для захисту від шахрайства та / або зменшення ризику.

                </li>
            </ul>
        </ul>
        <h3>
            Інша інформація, яку ми збираємо
        </h3>
        <p>
            Ми можемо збирати іншу інформацію, яка не може бути легко використана для ідентифікації вас, наприклад, ім'я домену та IP-адресу вашого комп'ютера. Ми можемо використовувати цю інформацію індивідуально або в сукупності для технічного адміністрування наших веб-сайтів (сайтів); дослідження та розвиток; адміністрування клієнтів та обліку; і допомогти нам більш точно зосередити наші маркетингові зусилля.

        </p>
        <h3>Cookies</h3>
        <p>
            SolidHome використовує файли cookie для зберігання особистих даних на вашому комп'ютері. Ми також можемо пов'язувати інформацію, що зберігається на вашому комп'ютері, у файли cookie з персональними даними про конкретних осіб, що зберігаються на наших серверах.

        </p>
        <h3>
            Зовнішні сховища даних
        </h3>
        <p>Ми можемо зберігати ваші дані на серверах, наданих сторонніми постачальниками хостингу, з якими ми уклали контракти.</p>
        <h3>
            Ваша відповідальність за конфіденційність
        </h3>
        <p>
            Щоб захистити вашу конфіденційність, обов'язково застосовуйте загальні запобіжні заходи для захисту від "шкідливих програм" (вірусів, троянських коней, ботів тощо), наприклад, встановлюючи та оновлюючи відповідне антивірусне програмне забезпечення.
        </p>
        <h3>Зміни до цієї політики конфіденційності</h3>
        <p>
            Ми залишаємо за собою право змінити цю політику конфіденційності, оскільки вважаємо її необхідною або доцільною через вимоги юридичної відповідності або зміни в нашій діловій практиці. Якщо ви надали нам електронну адресу, ми намагатимемося повідомити вас по електронній пошті на цю адресу про будь-які суттєві зміни щодо того, як ми будемо використовувати особисту інформацію.
        </p>
        <h3>Власник даних</h3>
        <p>
            SolidHome,  Кульпарківська вул. 59, Львів 79015, (Україна);<br>
            Контактна електронна адреса власника: info@solidhome.com.ua
        </p>
        <h3>
            Питання чи коментарі?
        </h3>
        <p>
            Якщо у вас є питання або коментарі щодо політики конфіденційності SolidHome, надішліть електронний лист на info@solidhome.com.ua або зв'яжіться з нами через будь-який з способів, описаних на сторінці "Зв'язатися з нами" на сайті solidhome.com.ua.

        </p>
        <p>Дякуэмо, що обрали <a href="@Url.Action("Index", "Home")">SolidHome!</a></p>
    </div>
