﻿@section Meta{
    <meta name="robots" content="noindex" />
}
<section class="main-catalog-photo">
    <div class="tittle-padd">
        <h1 class="main-tittle text-center toupc">Политика конфиденциальности</h1>
    </div>
</section>
<div class="container py-5">
    <h3>
        Введение
    </h3>
    <p>
        Компания SolidHome (или "мы") ценит конфиденциальность посетителей. Эта политика конфиденциальности обобщает информацию, которую мы можем получить от посетителя ( "вас"), и мы будем и не будем с этим делать. Обратите внимание, что эта политика конфиденциальности не регулирует сбор и использование информации компаниями, которые не контролирует SolidHome, а также физических лиц, которые не работают либо не руководствуются SolidHome. Если вы посещаете веб-сайт, о котором мы вспоминаем или ссылаемся, обязательно ознакомьтесь с его политикой конфиденциальности, прежде чем предоставить информацию о сайте.

    </p>
    <h3>
        Что мы делаем с вашей личной информацией
    </h3>
<p>
    У Вас всегда есть выбор, раскрывать нам личную информацию, хотя, если вы решите не делать этого, мы оставляем за собой право не регистрировать вас как пользователя или предоставлять вам любые продукты или услуги. "Личная информация" означает информацию, которая может быть использована для идентификации вас как личности, такие как например:

</p>
<ul>
    <li>ваше имя, компания, адрес, номер телефона, платежный адрес и адрес доставки</li>
    <li>информация о кредитной карте
    </li>
    <li>любая информация о настройке учетной записи, которую вы предоставляете нам</li>
    <li>имя домена вашего компьютера и IP-адрес, указывающий где ваш компьютер находится в Интернете данные сеанса для вашего хода</li>
</ul>
<p>
    Если вы предоставите нам личную информацию, непосредственно или через торгового посредника или иного делового партнера, мы:
</p>
<ul>
    <li>
        не продаем или здаем в аренду третьей стороне без вашего разрешения - хотя, если вы не откажетесь (см. ниже), мы можем использовать вашу контактную информацию, чтобы предоставить вам информацию, которую мы считаем необходимой для знания или может оказаться полезной, например новости о наши услуги и продукты и изменения в общих положениях и условиях;
    </li>
    <li>
        принимать коммерчески приемлемые меры для защиты информации от потери, неправильного использования и несанкционированного доступа, раскрытия, изменения и уничтожения;

    </li>
    <li>не использовать и не разглашать информацию кроме:
    </li>
    <ul>
        <li>другими способами, описанными в этой политике конфиденциальности или которые вы иначе согласились;</li>
        <li>
            в совокупности с другой информацией таким образом, чтобы ваша идентичность не могла обоснованно определяться (например, статистические сборники)

        </li>
        <li>как это требуется законом, например, в ответ на повестку суда или ордера на поиск;</li>
        <li>внешним аудиторам, согласились сохранять конфиденциальность информации;
        </li>
        <li>как это необходимо для обеспечения выполнения Условиями;</li>
        <li>
            как это необходимо для защиты прав, безопасности или имущества Название компании, пользователей или других лиц; это может включать (например) обмен информацией с другими организациями для защиты от мошенничества и / или уменьшения риска.

        </li>
    </ul>
</ul>
<h3>
    Другая информация, которую мы собираем
</h3>
<p>
    Мы можем собирать другую информацию, которая не может быть легко использована для идентификации вас, например, имя домена и IP-адрес вашего компьютера. Мы можем использовать эту информацию индивидуально или в совокупности для технического администрирования наших веб-сайтов (сайтов) исследования и развитие; администрирования клиентов и учета; и помочь нам более точно сосредоточить наши маркетинговые усилия.
</p>
<h3>Cookies</h3>
<p>
    SolidHome использует файлы cookie для хранения личных данных на вашем компьютере. Мы можем связывать информацию, хранящуюся на вашем компьютере, в файлы cookie с персональными данными о конкретных лицах, хранящиеся на наших серверах.
</p>
<h3>
    Внешние хранилища данных
</h3>
<p>Мы можем хранить ваши данные на серверах, предоставленных сторонними поставщиками хостинга, с которыми мы заключили контракты.</p>
<h3>
    Ваша ответственность за конфиденциальность
</h3>
<p>
    Чтобы защитить вашу конфиденциальность, обязательно применяйте общие меры предосторожности для защиты от "вредоносных программ" (вирусов, троянских коней, ботов и т.д.), например, устанавливая и обновляя соответствующее антивирусное программное обеспечение.

</p>
<h3>
    Изменения в этой политики конфиденциальности
</h3>
<p>
    Мы оставляем за собой право изменить эту политику конфиденциальности, поскольку считаем ее необходимой, целесообразной из-за требований юридического соответствия или изменения в нашей деловой практике. Если вы предоставили нам электронный адрес, мы постараемся сообщить вам по электронной почте на этот адрес о любых существенных изменениях относительно того, как мы будем использовать личную информацию.
</p>
<h3>Владелец данных</h3>
<p>
    SolidHome, Кульпарковская ул. 59, Львов 79015, (Украина);<br>
    Контактная адрес владельца: info@solidhome.com.ua

</p>
<h3>Вопросы и комментарии?</h3>
<p>
    Если у вас есть вопросы или комментарии относительно политики конфиденциальности SolidHome, отправьте электронное письмо на info@solidhome.com.ua или свяжитесь с нами через любой из способов, описанных на странице "Связаться с нами" на сайте solidhome.com.ua.

</p>
<p>Спасибо, что выбрали <a href="@Url.Action("Index", "Home")">SolidHome!</a></p>
    </div>
