﻿@model SolidHome.Models.AdminNews
@{

}
<p class="sub-tittle_med_25">@(Model == null ? "Створити" : "Редагувати") новину</p>
<div class="main-info-block row justify-content-between single-vacan-info">
    <form class="col-12" asp-area="Admin" asp-controller="News" asp-action="@(Model == null ? "Create" : "Edit")" method="post" enctype="multipart/form-data">
        <div class="col-lg-6">
            <p class="sub-tittle_18 mb-2 mt-3">Оберіть фото для новини</p>
            <input type="file" name="Image" class="image-input">
            <img src="@(Model != null ? "/images/news/"+ Model.Image : "")" class="image" />
        </div>
        <input hidden asp-for="NewsId" />
        <input hidden asp-for="IsPublished">
        <ul class="nav nav-tabs col-12 pt-4 pl-4" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">УКР</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">РУС</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel">
                <input hidden asp-for="@Model.NewsTranslators[0].TranslatorId" />
                <input hidden asp-for="@Model.NewsTranslators[0].Code" value="uk" />
                <p class="sub-tittle_18 mb-2 mt-3">Вкажіть заголовок новини</p>
                <input type="text" asp-for="@Model.NewsTranslators[0].Title">
                <p class="sub-tittle_18 mb-2 mt-3">Загальний опис новини</p>
                <textarea class="textarea" asp-for="@Model.NewsTranslators[0].Description"></textarea>
                <p class="sub-tittle_18 mb-2 mt-3">Короткий опис новини</p>
                <textarea asp-for="@Model.NewsTranslators[0].SmallDescription"></textarea>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel">
                <input hidden asp-for="@Model.NewsTranslators[1].TranslatorId" />
                <input hidden asp-for="@Model.NewsTranslators[1].Code" value="ru" />
                <p class="sub-tittle_18 mb-2 mt-3">Укажите заголовок новости</p>
                <input type="text" asp-for="@Model.NewsTranslators[1].Title">
                <p class="sub-tittle_18 mb-2 mt-3">Общее описание новости</p>
                <textarea class="textarea" asp-for="@Model.NewsTranslators[1].Description"></textarea>
                <p class="sub-tittle_18 mb-2 mt-3">Краткое описание новости</p>
                <textarea asp-for="@Model.NewsTranslators[1].SmallDescription"></textarea>
            </div>
        </div>
        <button class="edit-btn m-4" type="submit">@(Model == null ? "Додати" : "Зберегти")  новину</button>
        @if (Model == null || !Model.IsPublished)
        {
            <button class="edit-btn m-4 edit-publish" type="submit">@(Model == null ? "Додати" : "Зберегти") та опублікувати новину</button>
        }
    </form>
</div>
@section Scripts{
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            mode: "specific_textareas",
            selector: '.textarea',
            height: 300,
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],
            oninit: "setPlainText",
            toolbar: "paste | insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
            style_formats: [
                { title: 'Bold text', inline: 'b' },
                { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                { title: 'Example 1', inline: 'span', classes: 'example1' },
                { title: 'Example 2', inline: 'span', classes: 'example2' },
                { title: 'Table styles' },
                { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
            ]
        });
        
    </script>
}