﻿@using System.Globalization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject INewsService NewsService
@{
    List<News> news = NewsService.GetAllNews("uk").ToList();
}
<p class="sub-tittle_med_25">Новини</p>
<button class="add-btn"><a asp-area="Admin" asp-controller="News" asp-action="Create">Додати новину</a></button>
<table class="table table-hover contact-table main-info-block much-info">
    <thead>
        <tr>
            <th class="sub-tittle_med_18">#</th>
            <th class="sub-tittle_med_18">Назва</th>
            <th class="sub-tittle_med_18">Дата</th>
            <th class="sub-tittle_med_18">Опис</th>
            <th class="sub-tittle_med_18">Публікувати</th>
            <th class="sub-tittle_med_18">Заблокувати</th>
            <th class="sub-tittle_med_18">Видалити</th>
            <th class="sub-tittle_med_18">Редагувати</th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < news.Count; i++)
    {
        <tr>
            <th scope="row">@(i+1)</th>
            <td>@news[i].Title</td>
            <td>@news[i].PublicationDate</td>
            <td>
                @Html.Raw(news[i].SmallDescription)
            </td>

            <td> 
                <a asp-controller="NewsApi" asp-area="Admin" asp-action="ChangePublication" asp-route-id="@news[i].NewsId" class="edit-btn publish-news @(news[i].IsPublished ? "active-btn-edit" : "") @(news[i].IsPublished ? "a-disabled" : "")">Публікація</a>
            </td>
            <td>
                <a asp-controller="NewsApi" asp-area="Admin" asp-action="ChangePublication" asp-route-id="@news[i].NewsId" class="block-btn unpublish-news @(news[i].IsPublished ? "" : "active-btn-block") @(news[i].IsPublished ? "" : "a-disabled")">Блокувати</a>
            </td>
            <td>
                <a asp-area="Admin" asp-controller="NewsApi" asp-action="RemoveNews" asp-route-id="@news[i].NewsId" class="delete-btn remove-item">Видалити</a>
            </td>
            <td>
                <a asp-area="admin" asp-controller="news" asp-action="edit" asp-route-id="@news[i].NewsId" class="edit-btn">Редагувати</a>
            </td>
        </tr>
    }
    </tbody>
</table>