﻿@using System.Globalization
@using Microsoft.AspNetCore.Http
@using SolidHome.Utils.Service
@model SolidHome.Models.News
@inject IHttpContextAccessor httpAccessor
@inject UrlService UrlService

<div class="new-items row col-12">
    <div class="col-lg-3 col-md-4 col-3 p-0 new-item-img">
        <img src="/images/news/@Model.Image" class="w-100" alt="">
    </div>
    <div class="new-item-info col-lg-10 col-md-10  col-sm-10 col-11">
        <a class="new-text-info d-flex" asp-protocol="https" asp-controller="News" asp-action="NewsItem" asp-route-url="@Model.Url" asp-route-id="@Model.NewsId" >
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 inp-text-info">
                <span class="new-item-date">@Html.Raw(Model.PublicationDate.ToString("d MMMM yyyy", CultureInfo.CurrentCulture))</span>
                <p class="new-item-tittle sub-tittle_med_18 toupc">@Html.Raw(Model.Title)</p>
                <div class="sub-tittle_18 new-short-description">
                            @Html.Raw(Model.SmallDescription)
                    </div>
            </div>
        </a>
    </div>
</div>