﻿@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IHtmlLocalizer<Common> localizer
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor httpContext
@inject INewsService NewsService
@{
    IEnumerable<News> newsList = NewsService.GetAllNews(CultureInfo.CurrentCulture.Name, true);
}
@section Meta
    {
    <meta name="description" content="@Localizer["MetaDescription"]">
    <meta name="url" content="@(httpContext.HttpContext.Request.GetUri())">
}
@section Title{
    <title>@Localizer["MetaTitle"]</title>
}
<section class="main-new-photo">
    <div class="tittle-padd"> <h1 class="main-tittle text-center toupc">@localizer["News"]</h1></div>
</section>
<section class="main-news-info">
    <div class="own-container">
        <div class="row">
            @foreach (News news in newsList)
            {
                Html.RenderPartial("_NewsTemplate", news);
            }
        </div>
    </div>
</section>
