﻿@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@model SolidHome.Models.News
@inject IHttpContextAccessor httpAccessor
@inject IHtmlLocalizer<Common> localizer
@inject IDirectionService DirectionService
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
}
@section Meta
    {
    <meta property="fb:app_id" content="432030960580434" />
    <meta name="description" content="@Html.Raw(Model.SmallDescription)" />
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())" />
    <meta property="og:title" content="@Html.Raw(Model.Title)" />
    <meta property="og:url" content="@(httpAccessor.HttpContext.Request.GetUri())" />
    <meta property="og:image" content="https://@(httpAccessor.HttpContext.Request.Host)/images/news/@Model.Image" />
    <meta property="og:type" content="article" />
}
@section Title{
    <title>@Html.Raw(Model.Title)</title>
}

@section Links{
    <link rel="canonical" href="@(httpAccessor.HttpContext.Request.GetUri())" />
    <link rel="next" href="@Url.Action("NewsItem", "News", new {id = ViewBag.Next.NewsId, url = ViewBag.Next.Url}, "https")" />
    <link rel="prev" href="@Url.Action("NewsItem", "News", new {id = ViewBag.Previous.NewsId, url = ViewBag.Previous.Url}, "https")" />
    <link rel="amphtml" href="@Url.Action("NewsItemAmp", "News", new {id = Model.NewsId, url = Model.Url}, "https")">
}
@section Header{
    <header class="transparent-container own-container">
        <div class="top-header">
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand" asp-protocol="https" asp-controller="home" asp-action="index"><img src="~/images/Logo/LogoLight.svg" alt="Logo" /></a>
                <button class="navbar-toggler" type="button" id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="home" asp-action="Index" data-active="dark">@localizer["Main"]</a>
                        </li>
                        <li class="nav-item catalog-drop">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="catalog" asp-action="index" data-active="light">@localizer["Catalog"]<i class="icons icon-drop"></i></a>
                            <div class="dropdown-content">
                                @foreach (var direction in directions)
                                {
                                    <a class="dropdown-item sub-tittle_18" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">@Html.Raw(direction.Title)</a>
                                }
                            </div>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="works" asp-action="index" data-active="light">@localizer["works"]</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="news" asp-action="Index" data-active="light">@localizer["News"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="contacts" asp-action="Index" data-active="light">@localizer["Contacts"]</a>
                        </li>
						<li class="nav-item">
                        <p class="nav-link toupc" data-active="light">(063) 268 52 28</p>
                    </li>
                    </ul>
                </div>
                @{
                    AdminNews langNews = (AdminNews)ViewBag.LangNews;
                }
                <div class="lang nav-item">
                    <a class="nav-link" asp-protocol="https" asp-controller="News" asp-action="NewsItem" asp-route-url="@langNews.NewsTranslators.FirstOrDefault(c=>c.Code==(CultureInfo.CurrentCulture.Name == "ru" ? "uk" : "ru"))?.Url" asp-route-id="@Model.NewsId" asp-route-lang="@(CultureInfo.CurrentCulture.Name == "ru" ? "" : "ru")">
                        @(CultureInfo.CurrentCulture.Name == "uk" ? "РУС" : "УКР")
                    </a>
                </div>


            </nav>
        </div>
    </header>
}
<section class="main-new-photo">
    <div class="tittle-padd">
        <p class="main-tittle text-center toupc">@localizer["News"]</p>
        <h1 class="sub-tittle_18 text-center color-light toupc">@Html.Raw(Model.Title)</h1>
    </div>
</section>
<section class="main-newItem-info">
    <div class="own-container">
        <div class="row new-item justify-content-between">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3 p-0 new-item-img"><img src="/images/news/@Model.Image" class="w-100" alt=""></div>
            <div class="new-item-info col-lg-10 col-md-12  col-12">
                <div class=" d-flex justify-content-end">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-12 mt-5">
                        <div class="row justify-content-between">
                            <span class="new-item-date">@Html.Raw(Model.PublicationDate.ToString("d MMMM yyyy", CultureInfo.CurrentCulture))</span>
                            <div class="prods-nav">
                                <a asp-protocol="https" asp-controller="News" asp-action="NewsItem" asp-route-id="@ViewBag.Next.NewsId" asp-route-url="@ViewBag.Next.Url"><i class="icons backForwIcon back-icon"></i></a>
                                <a asp-protocol="https" asp-controller="News" asp-action="NewsItem" asp-route-id="@ViewBag.Previous.NewsId" asp-route-url="@ViewBag.Previous.Url"><i class="icons backForwIcon"></i></a>
                            </div>
                        </div>
                        <h1 class="new-item-tittle sub-tittle_med_18 toupc">@Html.Raw(Model.Title)</h1>
                        <div class="sub-tittle_18 pb-4">

                            @Html.Raw(Model.Description)
                            <!-- Your share button code -->
                            <div class="fb-share-button" data-href="@(httpAccessor.HttpContext.Request.GetUri())" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsolidhome.com.ua%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<div id="fb-root"></div>
@section Scripts{
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Article",
        "author":
        {
        "@@type":"Organization",
        "name" : "SolidHome"
        },
        "publisher":
        {
        "@@type":"Organization",
        "name" : "SolidHome",
        "logo" : "https://@(httpAccessor.HttpContext.Request.Host)/images/Logo/LogoDarkGreen.svg"
        },
        "headline" : "@Html.Raw(Model.Title)",
        "image" : "https://@(httpAccessor.HttpContext.Request.Host)/images/news/@Model.Image",
        "description" : "@Html.Raw(Model.SmallDescription)",
        "mainEntityOfPage" : "@httpAccessor.HttpContext.Request.GetUri()",
        "datePublished" : "@Model.PublicationDate.ToString("yyyy-MM-dd")"
        }
    </script>
}