﻿@using System.Globalization
@using Microsoft.AspNetCore.Http
@model SolidHome.Models.News
@inject HttpContextAccessor httpAccessor
<div>
    <div class="lang nav-item">
        <a class="nav-link" asp-protocol="https" asp-controller="News" asp-action="NewsItem" asp-route-lang="@(CultureInfo.CurrentCulture.Name == "ru" ? "" : "ru")">
            @(CultureInfo.CurrentCulture.Name == "uk" ? "РУС" : "УКР")
        </a>
    </div>
    <div class="news">
        @Html.Partial("~/Views/News/NewsItem.cshtml", Model)
    </div>
</div>