﻿@model SolidHome.Models.Contacts

<p class="sub-tittle_med_25">Додати/Редагувати контактні дані</p>
<form id="contacts-update" asp-action="SetContacts" asp-controller="ContactsApi" asp-area="Admin">
    <div class="main-info-block row justify-content-between single-vacan-info">
        <div class="col-lg-6">
            <p class="sub-tittle_18 mb-2 mt-3">Вкажіть місто та адресу (УКР)</p>
            <input type="text" asp-for="@Model.Address[0].Text">
            <input hidden type="text" asp-for="@Model.Address[0].Language">
        </div>
        <div class="col-lg-6">
            <p class="sub-tittle_18 mb-2 mt-3">Вкажіть місто та адресу (РУС)</p>
            <input type="text" asp-for="@Model.Address[1].Text">
            <input hidden type="text" asp-for="@Model.Address[1].Language">
        </div>

        <div class="col-lg-6">
            <p class="sub-tittle_18 mb-2 mt-3">Номер телефону</p>
            <input type="text" asp-for="Phone">
        </div>
        <div class="col-lg-6">
            <p class="sub-tittle_18 mb-2 mt-3">Вкажіть пошту</p>
            <input type="text" asp-for="Email">
        </div>
        <input type="text" hidden asp-for="@Model.Description[0].Text">
        <input type="text" hidden asp-for="@Model.Description[0].Language">
        <button type="submit" class="edit-btn m-4">Зберегти</button>

    </div>
</form>