﻿<div class="col-lg-2 left-menu">
    <a class="navbar-brand" href="http://beta.solidhome.com.ua"><img src="~/images/admin/Littlelogo.png" alt="Logo"></a>
    <ul class="menu-items">
        <li class="sub-tittle_18 active-menu-item">
            <a class="catalog-items" asp-area="admin" asp-controller="news" asp-action="index">
                <i class="icons newsIcon"></i>
                <p>Новини</p>
            </a>
        </li>
        <li class="sub-tittle_18">
            <a class="catalog-items" asp-area="admin" asp-controller="catalog" asp-action="index">
                <i class="icons catalogIcon"></i>
                <p>Каталог</p>
            </a>
        </li>
        <li class="sub-tittle_18">
            <a class="catalog-items" asp-area="admin" asp-controller="works" asp-action="index">
                <i class="icons catalogIcon"></i>
                <p>Роботи</p>
            </a>
        </li>
        <li class="sub-tittle_18">
            <a class="catalog-items" asp-area="admin" asp-controller="Review" asp-action="index">
                <i class="icons directIcon"></i>
                <p>Відгуки</p>
            </a>
        </li>

        <li class="sub-tittle_18">
            <a class="catalog-items" asp-area="admin" asp-controller="contacts" asp-action="index">
                <i class="icons contactIcon"></i>
                <p>Контакти</p>
            </a>
        </li>
        <li class="sub-tittle_18">
            <a class="catalog-items" asp-area="admin" asp-controller="mails" asp-action="index">
                <i class="icons postIcon"></i>
                <p>Листи</p>
            </a>
        </li>
        <li class="sub-tittle_18">
            <a class="catalog-items" asp-area="admin" asp-controller="order" asp-action="index">
                <i class="icons userContact"></i>
                <p>Замовлення</p>
            </a>
        </li>
    </ul>
    <a href="/account/logout" class="log-out-block sub-tittle_18"><i class="icons logOutIcon"></i>
        <p>Вийти</p></a>
</div>