@media print {
    *, ::after, ::before {
        text-shadow: none !important;
        box-shadow: none !important
    }

    a, a:visited {
        text-decoration: underline
    }

    p {
        orphans: 3;
        widows: 3
    }

    .navbar {
        display: none
    }
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

*, ::after, ::before {
    box-sizing: inherit
}
/*
@-ms-viewport {
    width: device-width
}*/

footer, header, nav, section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

    a:hover {
        color: #0056b3;
        text-decoration: underline
    }

    a:not([href]):not([tabindex]) {
        color: inherit;
        text-decoration: none
    }

        a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
            color: inherit;
            text-decoration: none
        }

        a:not([href]):not([tabindex]):focus {
            outline: 0
        }

a, button, input {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color
    }

button, input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible
}

button {
    text-transform: none
}

button, html [type=button] {
    -webkit-appearance: button
}

    [type=button]::-moz-focus-inner, button::-moz-focus-inner {
        padding: 0;
        border-style: none
    }

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h1 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1 {
    font-size: 2.5rem
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

    .form-control::-ms-expand {
        background-color: transparent;
        border: 0
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0
    }

    .form-control::-webkit-input-placeholder {
        color: #868e96;
        opacity: 1
    }

    .form-control:-ms-input-placeholder {
        color: #868e96;
        opacity: 1
    }

    .form-control:disabled {
        background-color: #e9ecef;
        opacity: 1
    }

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0
}

    .dropdown-item:focus, .dropdown-item:hover {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa
    }

    .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #007bff
    }

    .dropdown-item:disabled {
        color: #868e96;
        background-color: transparent
    }

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex
}

    .input-group .form-control {
        position: relative;
        z-index: 2;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0
    }

        .input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
            z-index: 3
        }

    .input-group .form-control, .input-group-addon {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }

.input-group-addon {
    white-space: nowrap;
    vertical-align: middle
}

.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.input-group .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group-addon:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.form-control + .input-group-addon:not(:first-child) {
    border-left: 0
}

.nav-link {
    display: block
}

    .nav-link:focus, .nav-link:hover {
        text-decoration: none
    }

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

    .navbar-brand:focus, .navbar-brand:hover {
        text-decoration: none
    }

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-top: 30px;
}

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0
    }

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem
}

    .navbar-toggler:focus, .navbar-toggler:hover {
        text-decoration: none
    }

.navbar-dark .navbar-brand {
    color: #fff
}

    .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
        color: #fff
    }

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}

.m-0 {
    margin: 0 !important
}

.p-0 {
    padding: 0 !important
}

.pr-1 {
    padding-right: .25rem !important
}

.pl-1 {
    padding-left: .25rem !important
}

.pb-2 {
    padding-bottom: .5rem !important
}

.pt-4 {
    padding-top: 1.5rem !important
}

.pb-4 {
    padding-bottom: 1.5rem !important
}

.pt-5 {
    padding-top: 3rem !important
}

.pb-5 {
    padding-bottom: 3rem !important
}

.m-auto {
    margin: auto !important
}

@media (min-width: 768px) {

    .mt-md-2 {
        margin-top: .5rem !important
    }
}

.text-center {
    text-align: center !important
}

@font-face {
    font-family: "QanelasBold";
    src: url("../../fonts/Qanelas-Bold.otf") format("truetype");
}

@font-face {
    font-family: "QanelasLight";
    src: url("../../fonts/Qanelas-Light.otf") format("truetype");
}

@font-face {
    font-family: "QanelasMedium";
    src: url("../../fonts/Qanelas-Medium.otf") format("truetype");
}

@font-face {
    font-family: "Qanelas-UltraLight";
    src: url("../../fonts/Qanelas-UltraLight.otf") format("truetype");
}

@font-face {
    font-family: "Qanelas-LightItalic";
    src: url("../../fonts/Qanelas-LightItalic.otf") format("truetype");
}

@font-face {
    font-family: "Qanelas-Thin";
    src: url("../../fonts/Qanelas-Thin.otf") format("truetype");
}

body {
    font-family: "Qanelas-UltraLight", sans-serif;
}

.thin-tittle-13 {
    font: 13px "Qanelas-Thin";
}

.sub-tittle_ulight_18 {
    font: 18px "Qanelas-UltraLight";
}

.sub-tittle_18 {
    font: 18px "QanelasLight";
}

.sub-tittle_med_18 {
    font: 18px "QanelasMedium";
}

.main-tittle {
    font: 36px "QanelasMedium";
    color: white;
    margin-bottom: 30px;
}

footer {
    background-color: #2E2E2E;
    flex: 0 0 auto;
}

.footer-title {
    color: white;
}

footer li {
    list-style-type: none;
}

footer ul li a, footer ul li a:hover, footer ul li span {
    text-decoration: none;
    color: white;
    font: 13px "Qanelas-Thin", sans-serif;
    text-align: left;
}

.footer-row {
    padding: 43px 0 20px;
    display: flex;
    justify-content: space-between;
}

    .footer-row ul {
        margin-top: 30px;
    }

        .footer-row ul li {
            margin: 10px 0;
        }

    .footer-row .footer-directions li {
        margin: 4px 0;
    }

.footer-directions li {
    float: left;
}

input.form-control {
    border-radius: 22px 22px 22px 22px;
    font: 13px "Qanelas-LightItalic", sans-serif;
    border: none;
}

span#btnGroupAddon2 {
    background-color: transparent;
    border: none;
    margin-left: -22px;
    height: max-content;
    margin-top: 13px;
    padding: 0;
    z-index: 9;
    cursor: pointer;
}

.input-group-addon {
    z-index: 2;
}

/*.footer-directions li:nth-child(2n+1) {*/
/*width: 64%;*/
/*}*/

.footer-directions li {
    width: 100%;
}

.input-group .form-control:not(:last-child) {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.input-group {
    width: 235px;
    height: 37px;
}

footer hr {
    border-top: 1px solid #888888;
    margin: 0;
}

.madeBy {
    font: 13px "Qanelas-Thin", sans-serif;
    color: white;
}

.footer-down-row {
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
}

.footer-email-form {
    margin-bottom: 37px;
}

    .footer-email-form input::-webkit-input-placeholder {
        font: 13px "Qanelas-LightItalic", sans-serif;
        color: white;
    }

.footer-row .footer-contact li {
    margin: 10px 0;
}

.social-icons {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: auto;
    background-color: #4F4F4F;
    float: left;
    cursor: pointer;
    position: relative;
}

    .social-icons:not(:last-child) {
        margin-right: 14px;
    }

footer a:hover {
    color: white;
}

.social-icons:hover {
    background: linear-gradient(to bottom right, #629F4F, #5EAE45 30%);
}

footer .form-control:focus {
    color: white;
    background-color: #4f4f4f;
    outline: 0;
}

.social-icons:hover::before {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #629F4F;
}

.social-icons::before {
    background-color: white;
}

.social-icons::before {
    content: "";
    transition-duration: .5s;
    transition-property: transform, opacity;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.42, 0, .24, .97);
}

.social-icons:hover::after {
    -ms-transform: scale(.5);
    transform: scale(.5);
    /*opacity: 0;*/
}

.social-icons::after {
    background-color: #629F4F;
}

.social-icons::after, .social-icons::before {
    content: "";
    transition-duration: .5s;
    transition-property: transform, opacity;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.42, 0, .24, .97);
}

.footer-email-form input {
    background-color: #4F4F4F;
}

@media screen and (min-width: 575px) and (max-width: 768px) {
    .footer-row ul {
        margin-top: 5px;
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 575px) {
    .footer-title {
        text-align: center;
    }

    .footer-row ul li {
        text-align: center;
    }

    .footer-email-form {
        margin: auto;
    }

    .footer-row {
        justify-content: center;
    }

    .social-icons-block {
        width: fit-content;
        margin: auto !important;
        padding-bottom: 50px;
    }
}

.main-new-photo {
    background: url("../../images/newBack.png") no-repeat;
    background-size: cover;
    width: 100%;
}

.new-item-date {
    font: 18px "Qanelas-LightItalic", sans-serif;
    color: #629F4F;
}

.new-item-tittle {
    font: 18px "QanelasMedium", sans-serif;
}

.new-item-info {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
}

.new-item-info {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
}

.new-item {
    margin: 50px 0 120px;
}

.new-item-date {
    font: 18px "Qanelas-LightItalic", sans-serif;
    color: #629F4F;
    display: block;
}

.new-item-tittle {
    font: 18px "QanelasMedium", sans-serif;
    padding: 23px 0;
}

.tittle-padd {
    padding: 150px 0 50px;
}

.email-foot {
    width: 255px;
}

.social-icons-block {
    width: fit-content;
    height: 80px;
    margin: 0 auto 10px !important;
}

ul.footer-nav {
    margin: auto;
    width: fit-content;
}

.navbar-nav {
    margin: auto;
    right: 0;
}

a.navbar-brand {
    margin: 0;
}

.transparent-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.top-header {
    z-index: 1;
    position: relative;
}

    .top-header .nav-item .nav-link {
        color: #fff;
        font: 18px QanelasMedium,sans-serif;
        margin-top: 70px;
        margin-left: 33px;
    }

.lang {
    margin-top: -18px;
}

button:focus {
    outline: none;
}

#nav-icon span {
    cursor: pointer;
    display: block;
    margin: 6px 0;
    height: 3px;
    width: 35px;
    background: #fff;
}

#nav-icon {
    border: none;
}

.top-header .nav-item .nav-link {
    color: black;
    font: 18px QanelasLight,sans-serif;
    margin-top: 0;
    margin-left: 0;
}

.nav-item.active-light {
    width: fit-content;
    border-radius: 22px;
    padding: 5px 60px 5px 20px;
    border: 1px solid #629F4F;
}

.nav-item a {
    color: black;
    font: 18px QanelasLight, sans-serif;
}

.nav-item {
    margin: 15px 12px;
}

.active-light .nav-link {
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.lang {
    position: absolute;
    left: 0;
    top: 43px;
}

button#nav-icon {
    margin-top: 15px;
}

.lang .nav-link {
    color: white !important;
}

.navbar-brand {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar-toggler {
    position: absolute;
    right: 0;
    top: 29px;
}

.color-light {
    color: #fff;
}


.IconFb {
    width: 10px;
    height: 22px;
    background: url(../../images/IconFacebookLight.svg) no-repeat;
}

.social-icons:hover .IconFb {
    background: url(../../images/IconFacebookDark.svg) no-repeat;
}

.IconIn {
    width: 23px;
    height: 24px;
    background: url(../../images/IconInLight.svg) no-repeat;
}

.social-icons:hover .IconIn {
    background: url(../../images/IconInDark.svg) no-repeat;
}

.input-group {
    z-index: 0;
}


.dropdown-content {
    display: none;
}

.toupc {
    text-transform: uppercase;
}

.backForwIcon {
    width: 6px;
    height: 10px;
    background: url(../../images/backForwIcon.svg) no-repeat;
    margin: 0 10px;
}

.back-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icons {
    display: inline-block;
    position: relative;
}
.i-amphtml-element.i-amphtml-layout-nodisplay.i-amphtml-display.i-amphtml-overlay {
    width: 80vw;
    background: white;
    opacity: 1;
}