﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Common> localizer
@model SolidHome.ViewModels.OrderCallViewModel
<div class="modal-header">
    <h5 class="sub-tittle_18 m-auto" id="helpBlockLabel">@localizer["Ordering"]</h5>
</div>
<div class="modal-body  pt-4 mt-2 pb-0">
    <p class="uligh_tittle_13 text-justify">@localizer["OrderInfo"]</p>
</div>
<div class="modal-footer d-block login-modal">
    <form asp-controller="OrderApi" asp-action="OrderCall" method="post" id="create-order" class="order-form">
        <input required type="text" asp-for="Name" placeholder="@localizer["Name"]" />
        <input required type="tel" asp-for="PhoneNumber" placeholder="@localizer["Phone"]" />
        <div id="call-captcha" class="g-recaptcha" data-sitekey="@ViewBag.SiteKey"></div>
        @if (ViewData.ContainsKey("Error"))
        {
            <p class="error-bl">@ViewBag.Error</p>
        }
        <button type="submit" class="btn-light-dark-small color-light sub-tittle_18">@localizer["OrderCall"]</button>

    </form>
</div>