﻿@using Microsoft.AspNetCore.Mvc.Localization
@model SolidHome.ViewModels.ReviewCreateViewModel
@inject IHtmlLocalizer<Common> localizer
<div class="modal-header">
    <h5 class="sub-tittle_18 m-auto" id="helpBlockLabel">@localizer["LeaveReview"]</h5>
</div>
<div class="modal-footer d-block login-modal">
    <form asp-controller="OrderApi" asp-action="CreateReview" method="post" id="create-review" class="order-form">
        <input required type="text" asp-for="UserName" placeholder="@localizer["Name"]" />
        <input required type="email" asp-for="Email" placeholder="@localizer["Email"]" />
        <textarea asp-for="Content" placeholder="@localizer["LeaveMessage"]" rows="10"></textarea>
        <div id="call-captcha" class="g-recaptcha" data-sitekey="@ViewBag.SiteKey"></div>
        @if (ViewData.ContainsKey("Error"))
        {
            <p class="error-bl">@ViewBag.Error</p>
        }
        <button type="submit" class="btn-light-dark-small color-light sub-tittle_18">@localizer["AddReview"]</button>
    </form>
</div>