﻿@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Common> localizer
@inject IHttpContextAccessor httpAccessor
<div class="text-center">
    <h1 class="sub-tittle m-0">@localizer["ReviewCreateSuccess"]</h1>
    <div class="loadCircleDone">
        <div class="littleLoaded"><i class="icons done"></i></div>
    </div>
    <a asp-protocol="https" asp-controller="home" asp-action="index" class="btn btn-light-dark sub-tittle_ulight_18 color-light bottom-big-m">@localizer["Done"]</a>
</div>
