﻿@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IHtmlLocalizer<Common> localizer
@inject IHttpContextAccessor httpAccessor
@inject IDirectionService DirectionService
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
}
@section Header{
    <header class="transparent-container own-container">
        <div class="top-header header-dark">
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand" asp-protocol="https" asp-controller="home" asp-action="index"><img src="~/images/Logo/LogoDarkGreen.svg" alt="Logo" /></a>
                <button class="navbar-toggler" type="button" id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item active-dark">
                            <a asp-protocol="https" class="nav-link toupc" asp-controller="home" asp-action="Index" data-active="dark">@localizer["Main"]</a>
                        </li>
                        <li class="nav-item catalog-drop">
                            <a asp-protocol="https" class="nav-link toupc" asp-controller="catalog" asp-action="index" data-active="light">@localizer["Catalog"]<i class="icons icon-drop"></i></a>
                            <div class="dropdown-content">
                                @foreach (var direction in directions)
                                {
                                    <a class="dropdown-item sub-tittle_18" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">@Html.Raw(direction.Title)</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="works" asp-action="index" data-active="light">@localizer["Works"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="news" asp-action="Index" data-active="light">@localizer["News"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="contacts" asp-action="Index" data-active="light">@localizer["Contacts"]</a>
                        </li>
                    </ul>
                </div>
                @Html.Partial("_Languages")
            </nav>
        </div>
    </header>
}<section class="not-found">
    <div class="own-container">
        <?xml version="1.0" encoding="utf-8" ?>
        <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 839.9 197" style="enable-background:new 0 0 839.9 197;" xml:space="preserve">
        <style type="text/css">
							.st0{fill:#639841;}
				.st1{fill:#F5F2E5;}
				.st2{fill:#FFFEF5;}
				.st3{fill:#EFE6E3;}
				.st4{fill:#F8F7EF;}
				.st5{fill:url(#SVGID_1_);}
				.st6{fill:url(#SVGID_2_);}
				.st7{fill:#C2C1BC;}
				.st8{fill:#A2A29E;}
				.st9{fill:#DAB25B;}
				.st10{fill:#F4CE66;}
				.st11{fill:#DFB65C;}
				.st12{fill:#ECE9DD;}
				.st13{fill:none;stroke:#639841;stroke-width:3;stroke-miterlimit:10;}
			</style>
<g>
	
        <image style="overflow:visible;opacity:0;enable-background:new    ;" width="112" height="141" xlink:href="/images/94AE4457.png" transform="matrix(0.9922 0 0 0.9922 251.929 37.0421)">
	</image>
        <g>
        <path class="st0" d="M309.5,48.5H328c3.5,0,6.4,2.9,6.4,6.4v58.5h3.2c3.5,0,6.4,2.9,6.4,6.4v6.2c0,3.5-2.9,6.4-6.4,6.4h-3.2v14.5
			c0,3.5-2.9,6.4-6.4,6.4h-12.8c-3.5,0-6.4-2.9-6.4-6.4v-14.5h-33.1c-3.5,0-6.4-2.9-6.4-6.4v-9c0-1.1,0.3-2.1,0.8-3l33.8-62.1
			C305,49.7,307.2,48.5,309.5,48.5z M308.5,80.1l-17.9,33.3h18.3V80.1H308.5z" />



	</g>
</g>
<g>
	
        <image style="overflow:visible;opacity:0;enable-background:new    ;" width="112" height="142" xlink:href="94AE4455.png" transform="matrix(0.9922 0 0 0.9922 434.9269 36.0434)">
	</image>
        <g>
        <path class="st0" d="M492.8,48.1h18.5c3.5,0,6.4,2.9,6.4,6.4V113h3.2c3.5,0,6.4,2.9,6.4,6.4v6.2c0,3.5-2.9,6.4-6.4,6.4h-3.2v14.5
			c0,3.5-2.9,6.4-6.4,6.4h-12.8c-3.5,0-6.4-2.9-6.4-6.4V132H459c-3.5,0-6.4-2.9-6.4-6.4v-9c0-1.1,0.3-2.1,0.8-3l33.8-62.1
			C488.4,49.4,490.5,48.1,492.8,48.1z M491.8,79.8L473.9,113h18.3V79.7h-0.4V79.8z" />



	</g>
</g>
<g>
	
        <image style="overflow:visible;opacity:0;enable-background:new    ;" width="161" height="161" xlink:href="94AE445B.png" transform="matrix(0.9938 0 0 0.9938 319.9921 27.9921)">
	</image>
        <g>
        <g>
			
        <ellipse transform="matrix(1 -5.806602e-03 5.806602e-03 1 -0.5861 2.3209)" class="st1" cx="399.4" cy="102.1" rx="62" ry="62" />






			
        <ellipse transform="matrix(1 -5.800920e-03 5.800920e-03 1 -0.5856 2.3244)" class="st2" cx="400.4" cy="102.1" rx="58.3" ry="58.3" />






			
        <ellipse transform="matrix(1 -5.800353e-03 5.800353e-03 1 -0.5855 2.3184)" class="st3" cx="399.4" cy="102.1" rx="43.2" ry="43.2" />






			
        <ellipse transform="matrix(1 -5.801231e-03 5.801231e-03 1 -0.5856 2.3188)" class="st2" cx="399.4" cy="102.1" rx="41.9" ry="41.9" />



        <path class="st4" d="M369,112.3c-0.1-23.1,18.5-42,41.6-42.1c7.8,0,15.1,2.1,21.4,5.7c-7.7-9.6-19.6-15.8-32.9-15.7
				c-23.1,0.1-41.7,19-41.6,42.1c0.1,15.3,8.4,28.6,20.7,35.9C372.5,131.1,369.1,122.1,369,112.3z" />






			
        <radialGradient id="SVGID_1_" cx="416.4314" cy="560.5397" r="7.0147" gradientTransform="matrix(1 -5.847833e-03 -5.847833e-03 -1 4.1166 665.0016)" gradientUnits="userSpaceOnUse">
        <stop offset="0" style="stop-color:#452711" />



        <stop offset="1" style="stop-color:#000000" />



			</radialGradient>
        <circle class="st5" cx="417.3" cy="102" r="7" />






			
        <radialGradient id="SVGID_2_" cx="499.0758" cy="561.2703" r="7.0148" gradientTransform="matrix(-1 5.847833e-03 -5.847833e-03 -1 884.1928 660.5837)" gradientUnits="userSpaceOnUse">
        <stop offset="0" style="stop-color:#452711" />



        <stop offset="1" style="stop-color:#000000" />



			</radialGradient>
        <circle class="st6" cx="381.8" cy="102.2" r="7" />



        <g>
				
        <ellipse transform="matrix(1 -5.786664e-03 5.786664e-03 1 -0.5841 2.3141)" class="st7" cx="399.6" cy="102.1" rx="4.5" ry="4.5" />



        <path class="st8" d="M401.6,101.4h-1.4V100c0-0.3-0.3-0.6-0.6-0.6c-0.3,0-0.6,0.3-0.6,0.6v1.4h-1.4c-0.3,0-0.6,0.3-0.6,0.6
					s0.3,0.6,0.6,0.6h1.4v1.4c0,0.3,0.3,0.6,0.6,0.6c0.3,0,0.6-0.3,0.6-0.6v-1.4h1.4c0.3,0,0.6-0.3,0.6-0.6S402,101.4,401.6,101.4z" />



			</g>
        <path class="st9" d="M399.1,60.3c-1.1,0-2.2,0.1-3.3,0.2v6.1c0,1.8,1.5,3.3,3.4,3.3c1.8,0,3.3-1.5,3.3-3.4v-6.1
				C401.3,60.3,400.2,60.3,399.1,60.3z" />



        <path class="st10" d="M399.1,60.3c-0.8,0-1.6,0.1-2.4,0.2v6.1c0,1.8,1.1,3.3,2.4,3.3s2.4-1.5,2.4-3.4v-6.1
				C400.7,60.3,399.9,60.3,399.1,60.3z" />



        <path class="st11" d="M399.6,144c-1.1,0-2.2,0-3.3-0.1v-6.1c0-1.8,1.5-3.4,3.3-3.4s3.4,1.5,3.4,3.3v6.1
				C401.8,143.9,400.7,144,399.6,144z" />



        <path class="st10" d="M399.6,144c-0.8,0-1.6,0-2.4-0.1v-6.1c0-1.8,1.1-3.3,2.4-3.4c1.3,0,2.4,1.5,2.4,3.3v6.1
				C401.2,143.9,400.4,144,399.6,144z" />



        <path class="st12" d="M362.9,122.6l-0.1-13.8c0-2.9-2.4-5.2-5.2-5.2l0,0C357.8,110.6,359.7,117,362.9,122.6z M357.5,101.1
				L357.5,101.1c2.9,0,5.2-2.4,5.2-5.2l-0.1-13.8C359.5,87.7,357.7,94.2,357.5,101.1z" />



		</g>
	</g>
</g>
<path class="st12" d="M441.2,101.2L441.2,101.2c-2.9,0-5.2,2.4-5.2,5.2l0.1,13.8C439.2,114.5,441,108.1,441.2,101.2z M435.9,79.6
	l0.1,13.8c0,2.9,2.4,5.2,5.2,5.2l0,0C441,91.7,439.1,85.3,435.9,79.6z" />



<g>
        <g>
        <path class="st0 vylka" d="M17.1,72.5c0.1,0.8-0.5,1.6-1.3,1.7l0,0c-0.8,0.1-1.6-0.5-1.7-1.3l-2-14.1c-0.1-0.8,0.5-1.6,1.3-1.7l0,0
			c0.8-0.1,1.6,0.5,1.7,1.3L17.1,72.5z" />



	</g>
        <g>
        <path class="st0 vylka" d="M27.3,71.3c0.1,0.8-0.5,1.6-1.3,1.7l0,0c-0.8,0.1-1.6-0.5-1.7-1.3l-2-14.1c-0.1-0.8,0.5-1.6,1.3-1.7l0,0
			c0.8-0.1,1.6,0.5,1.7,1.3L27.3,71.3z" />



	</g>
        <g>
        <path class="st0 vylka" d="M11.6,66.1c0,0-5.8-16.9,5.8-20.1C29,42.8,28.5,64.3,28.5,64.3L11.6,66.1z" />



	</g>
        <path class="st13 path" d="M294.9,69.8c0,0-18-8.9-35.7,1.5s-21.1,35.9-23.4,42.7c-5.2,15.4-15.2,19.5-27.2,23
		c-25.7,7.5-50.8-14.8-37.1-31.3s12.4-33.6,11.3-38c-1.3-5.2-5-19.1-22.1-20.3c-21.5-1.6-19.9,11.7-43.4,6.7s-25.9-27.8-12.5-26.4
		s6.5,18.2-1.4,23.5s-25.1,8.2-28.9-4.1S69.7,24,64.7,16.9c-5-7.1-16.2-11.7-29.4-7.1s-16.5,11.1-16.8,29l0.1,8.3" />



</g>
<g>
        <g>
        <path class="st0 vylka" d="M800.9,125c-0.1-0.8,0.5-1.6,1.3-1.7l0,0c0.8-0.1,1.6,0.5,1.7,1.3l2,14.1c0.1,0.8-0.5,1.6-1.3,1.7l0,0
			c-0.8,0.1-1.6-0.5-1.7-1.3L800.9,125z" />



	</g>
        <g>
        <path class="st0 vylka" d="M790.8,126.2c-0.1-0.8,0.5-1.6,1.3-1.7l0,0c0.8-0.1,1.6,0.5,1.7,1.3l2,14.1c0.1,0.8-0.5,1.6-1.3,1.7l0,0
			c-0.8,0.1-1.6-0.5-1.7-1.3L790.8,126.2z" />



	</g>
        <g>
        <path class="st0 vylka" d="M806.5,131.4c0,0,5.8,16.9-5.8,20.1s-11.1-18.3-11.1-18.3L806.5,131.4z" />



	</g>
        <path class="st13 path" d="M523.1,127.7c0,0,18,8.9,35.7-1.5s21.1-35.9,23.4-42.7c5.2-15.4,15.2-19.5,27.2-23
		c25.7-7.5,50.8,14.8,37.1,31.3s-12.4,33.6-11.3,38c1.3,5.2,5,19.1,22.1,20.3c21.5,1.6,19.9-11.7,43.4-6.7s25.9,27.8,12.5,26.4
		s-6.5-18.2,1.4-23.5c7.9-5.3,25.1-8.2,28.9,4.1c3.9,12.3,4.8,23.1,9.8,30.2s16.2,11.7,29.4,7.1s16.5-11.1,16.8-29l-0.1-8.3" />



</g>
</svg>


    </div>
    <div class="col-12 text-center">
        <p class="sub-tittle_med_18">Oops! Page not found</p>
        <a asp-protocol="https" asp-controller="Home" asp-action="Index" class="btn btn-light-dark sub-tittle_18 bottom-big-m"> @localizer["GoToMain"]</a>
    </div>
</section>
