﻿@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IHttpContextAccessor httpAccessor
@inject IHtmlLocalizer<Common> localizer
@inject IDirectionService DirectionService
@inject IViewLocalizer Localizer
@inject IReviewService ReviewService
@inject IHttpContextAccessor httpContext
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
    var reviews = ReviewService.GetAllReviews(true);
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1, shrink-to-fit=no">
    @*<title>SolidHome</title>*@
    <meta name="description" content="@(Html.Raw(Localizer["MetaDescription"].Value))">
    <link rel="canonical" href="@httpContext.HttpContext.Request.GetUri()">
    <title>@Localizer["MetaTitle"]</title>
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())">

    <link rel="stylesheet" href="~/css/minified/sitecss.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css">
    <link rel="alternate" hreflang="@localizer["HrefLang"]" href="@httpContext.HttpContext.Request.GetUri()" />
    @*<link rel="stylesheet" href="~/css/style.css" />*@
    <link rel="shortcut icon" type="image/x-icon" href="~/images/smallIco.png" />

</head>
<body id="content-9">


<div id="loader">
    <div class="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="scroller-wrapper">
<header class="transparent-container own-container big-header">
    <div class="top-header">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand main-page-animation">
                <img src="/images/Logo/LogoGreenLightGreen.svg" alt="Logo"/>
            </a>
            <button class="navbar-toggler" type="button" id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item main-page-animation menu-animate active-dark">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="home" asp-action="Index">@localizer["Main"]</a>
                    </li>
                    <li class="nav-item catalog-drop main-page-animation menu-animate ">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="catalog" asp-action="index" data-active="light"><span>@localizer["Catalog"]</span><i class="icons icon-drop"></i></a>
                        <div class="dropdown-content">
                            @foreach (var direction in directions)
                            {
                                <a class="dropdown-item sub-tittle_18" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">@Html.Raw(direction.Title)</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item main-page-animation menu-animate">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="works" asp-action="index" data-active="light">@localizer["Works"]</a>
                    </li>
                    <li class="nav-item main-page-animation menu-animate">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="news" asp-action="Index" data-active="light">@localizer["News"]</a>
                    </li>
                    <li class="nav-item  main-page-animation menu-animate">
                        <a class="nav-link toupc" asp-protocol="https" asp-controller="contacts" asp-action="Index" data-active="light">@localizer["Contacts"]</a>
                    </li>
                    <li class="nav-item main-page-animation menu-animate">
                        <p class="nav-link toupc" data-active="light">(063) 268 52 28</p>
                    </li>
                </ul>
            </div>
            <div class="main-page-animation">
                @Html.Partial("_Languages")
            </div>
        </nav>
    </div>
</header>
<section class="main-page-section">
    <div class="main-page-info">
        <div class="own-container conteiner-inner">
            <div class="row justify-content-sm-center">
                <div class="col-lg-6 col-md-12 col-sm-12 text-center text-lg-left p-0">
                    <h1 class="main-tittle-home main-page-animation">@localizer["Magic"]</h1>
                    <h3 class="sub-tittle color-light pt-3 p-sm-2 main-page-animation">@localizer["Touch"]</h3>
                    <button type="button" class="btn-dark-light btn main-page-animation" data-toggle="modal" data-target="#phoneBlock" onClick="ga('send', 'pageview', 'button', 'clicked', 'order');">@localizer["WatchVideo"]</button>
                </div>
                <div class="col-12 align-content-center main-page-animation carouselDirections">
                    <div id="carouselDirections" class="carousel slide col-12" data-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < directions.Count; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <a class="advantages-icons d-flex" asp-protocol="https" asp-controller="catalog" asp-action="catalogItem" asp-route-url="@directions[i].Url">
                                        <i class="icons @directions[i].IconStyle"></i><br>
                                    </a>
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselDirections" role="button" data-slide="prev">
                            <span class="leftArrow left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselDirections" role="button" data-slide="next">
                            <span class="leftArrow"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-11 align-content-sm-center circle-adv p-0 main-page-animation">
                    <div class='selector'>
                        <ul>
                            @for (int i = 0; i < directions.Count; i++)
                            {
                                <li>
                                    <a rel="nofollow" class="advantages-icons d-flex" asp-protocol="https" asp-controller="catalog" asp-action="catalogItem" asp-route-url="@directions[i].Url">
                                        <i class="icons @directions[i].IconStyle"></i><br>
                                        <span class="color-light sub-tittle_18">@(directions[i].Url == "video-surveillance" ? Html.Raw(localizer["VideoSurveillance"].Value) : Html.Raw(directions[i].Title))</span>
                                    </a>
                                </li>
                            }


                        </ul>
                        <button><img class="img-iphone" src="~/images/iphone.png" alt="First slide"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="own-container row justify-content-center">
            <div class="scroll-arrow main-page-animation">
                <i class="icons IconArrow"></i>
            </div>
        </div>
    </div>
</section>

<section class="introduction">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/images/welcomeBack.png" class="w-100" alt="Welcome"/>
        </div>
        <div class="col-lg-6 introd-block">
            @*<div class="introd-block">*@
            <div class="aboutBloock">
                <h2 class="introd-tittle toupc"> @localizer["Welcome"]</h2>
                <p class="intro-description">
                    @Html.Raw(localizer["History"].Value)
                </p>
                <button class="btn more-about">@localizer["ReadMore"]</button>
            </div>
            @*</div>*@

        </div>
    </div>


    @*<div class="container text-center p-5">
                    <h2 class="introd-tittle"> @localizer["Welcome"].Value.ToUpper()</h2>
                    <p class="intro-description p-lg-5">
                        @localizer["WelcomeText"]
                    </p>
                </div>*@
</section>
<section class="achievements">
    <div class="own-container">
        <div class="row justify-content-sm-center">
            <div class="col-lg-4 col-md-4  col-9 p-md-0 mb-lg-0 mb-md-0 mb-5">
                <i class="icons IconOurUsers float-left"></i>
                <div class="text-center">
                    <span>
                        <span class="main-tittle_50 achievement-num" data-number="85">85</span><span class="main-tittle_50">+</span>
                    </span>
                    <p class="sub-tittle_ulight_18 color-light mt-2 toupc">@localizer["Clients"]</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-9 p-md-0 mb-lg-0 mb-md-0 mb-5">
                <i class="icons IconInstaled float-left"></i>
                <div class="text-center">
                    <span>
                        <span class="main-tittle_50 achievement-num" data-number="45">45</span><span class="main-tittle_50">+</span>
                    </span>
                    <p class="sub-tittle_ulight_18 color-light mt-2 toupc">@localizer["InstalledSyst"]</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-9 p-md-0 mb-lg-0 mb-md-0 mb-5">
                <i class="icons IconMonitor float-left"></i>
                <div class="text-center">
                    <span>
                        <span class="main-tittle_50 achievement-num" data-number="800">800</span><span class="main-tittle_50">+</span>
                    </span>
                    <p class="sub-tittle_ulight_18 color-light mt-2 toupc">@localizer["InstalledDevices"]</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials-section">
    <div class="text-center w-100 steps-main-tittle">@localizer["Reviews"]</div>
    <div class="own-container slider testimonials">
        @foreach (var review in reviews)
        {
            <div class="slick-slide comment-item">
                <p class="comment-icon">“</p>
                <p class="date">@Html.Raw(review.ApproveDate.ToString("d MMMM yyyy", CultureInfo.CurrentCulture))</p>
                <p class="sub-tittle-18 comment-text">
                    @review.Content
                </p>
                <hr>
                <p class="sub-tittle_med_18">@review.UserName</p>
            </div>
        }


    </div>
    <button type="button" class="btn-dark-light btn" data-toggle="modal" data-target="#commentBlock">@localizer["AddReview"]</button>
</section>
<section class="video-section">
    <button onclick="play()" class="btn btn-play"></button>
    <video id="video" onclick="pause()" poster="images/videoposter.png">
        <source src="images/video.mp4" type="video/mp4">
    </video>
</section>

<section class="steps">
    <div class="own-container">
        <div class="row justify-content-lg-between  justify-content-center steps-row">
            <div class="text-center w-100 steps-main-tittle toupc">@localizer["ThreeSteps"]</div>
            <div class="col-lg-3 col-md-7 col-9  mb-lg-0 mb-5 text-center step-item" id="a1">
                <p class="pb-5">01</p>
                <i class="icons IconOrderMonitor  mt-2 mb-5"></i>
                <p class="sub-tittle_med_25 mt-2 toupc">@localizer["Order"]</p>
                <p class="step-sub-tittle color-dark sub-tittle_ulight_18 mt-4">
                    @localizer["OrderDescr"]
                </p>
            </div>
            <div class="col-lg-3 col-md-7 col-9  mb-lg-0 mb-5 text-center step-item" id="a2">
                <p class="pb-5">02</p>
                <i class="icons IconInstalling  mt-2 mb-5"></i>
                <p class="sub-tittle_med_25 mt-2 toupc">@localizer["Installation"]</p>
                <p class="step-sub-tittle color-dark sub-tittle_ulight_18 mt-4">
                    @localizer["InstallationDescr"]
                </p>
            </div>
            <div class="col-lg-3 col-md-7 col-9 mb-lg-0 mb-5 text-center step-item" id="a3">
                <p class="pb-5">03</p>
                <i class="icons IconPay  mt-2 mb-5"></i>
                <p class="sub-tittle_med_25 mt-2 toupc">@localizer["Payment"]</p>
                <p class="step-sub-tittle color-dark sub-tittle_ulight_18 mt-4">
                    @localizer["PaymentDescr"]
                </p>
            </div>
        </div>
    </div>
</section>
</div>
<a class="toTopBtn"><i class="icons btnTop"></i></a>
<div id="phoneBlock" class="modal fade helpBlock" tabindex="-1" role="dialog"
     aria-labelledby="helpBlockLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="sub-tittle_18 m-auto" id="helpBlockLabel">@localizer["Ordering"]</h5>
            </div>
            <div class="modal-body  pt-4 mt-2 pb-0">
                <p class="uligh_tittle_13 text-justify">@localizer["OrderInfo"]</p>
            </div>
            <div class="modal-footer d-block login-modal">
                <form asp-controller="OrderApi" asp-action="OrderCall" method="post" id="create-order" class="order-form">
                    <input required type="text" name="Name" placeholder="@localizer["Name"]"/>
                    <input required type="tel" name="PhoneNumber" placeholder="@localizer["Phone"]"/>
                    <div class="g-recaptcha" data-sitekey="@ViewBag.SiteKey"></div>
                    <button type="submit" class="btn-light-dark-small color-light sub-tittle_18">@localizer["OrderCall"]</button>
                </form>
            </div>
        </div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div id="commentBlock" class="modal fade helpBlock" tabindex="-1" role="dialog"
     aria-labelledby="helpBlockLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="sub-tittle_18 m-auto" id="helpBlockLabel">@localizer["LeaveReview"]</h5>
            </div>
            <div class="modal-footer d-block login-modal">
                <form asp-controller="OrderApi" asp-action="CreateReview" method="post" id="create-review" class="order-form">
                    <input required type="text" name="UserName" placeholder="@localizer["Name"]"/>
                    <input required type="email" name="Email" placeholder="@localizer["Email"]"/>
                    <textarea name="Content" placeholder="@localizer["LeaveMessage"]" rows="10"></textarea>
                    <div id="call-captcha" class="g-recaptcha" data-sitekey="@ViewBag.SiteKey"></div>
                    <button type="submit" class="btn-light-dark-small color-light sub-tittle_18">@localizer["AddReview"]</button>
                </form>
            </div>
        </div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
@Html.Partial("_Footer")

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
    
 <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
      //  cookieconsent.initialise({
      //      layout: 'my-cool-layout',
      //      layouts: {
      //          'my-cool-layout': '<div class="my-cool-layout">\
      //{{header}}{{message}}{{compliance}}{{pictureOfCat}}</div>{{close}}',
      //      },
      //      elements: {
      //          pictureOfCat: '<img href="http://placekitten/300/300" />',
      //      },
      //      content: {
      //          header: 'My awesome cat popup!'
      //      }
      //  });
    </script>   

@*<script src="~/js/product.js"></script>
        <script src="~/js/order.js"></script>
        <script src="~/js/shared.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/js/mails.js"></script>

        <script src="~/js/slick.js"></script>
        <script src="~/js/allscripts.js"></script>*@

<script src="~/js/minified/sitejs.min.js" asp-append-version="true"></script>
@*<script src="~/js/allscripts.min.js" asp-append-version="true"></script>*@
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>

    window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000",
                        "opacity": 0.7
                    },
                    "button": {
                        "background": "darkgreen"
                    }

                },
                "type": "opt-in",
                "content": {
                    "message": "@localizer["PolicyMessage"]",
                    "link": "@localizer["PolicyHref"]",
                    "deny": "@localizer["PolicyDeny"]",
                    "allow" : "@localizer["PolicyAgree"]",
                    "href": "@Url.Action("Index", "privacy")"
                },
                onInitialise: function (status) {
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)
                                [0];a.async=1;a.src=g;
                        m.parentNode.insertBefore(a, m);
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    if (didConsent) {
                        // enable cookies
                        ga('require', 'displayfeatures');
                        ga('set', 'anonymizeIp', undefined);
                        ga('create', 'UA-57261022-1', 'auto');
                        ga('set', 'forceSSL', true);
                    } else {
                        // disable cookies
                        ga('set', 'displayFeaturesTask', null);
                        ga('set', 'anonymizeIp', true);
                    }
                    ga('send', 'pageview');
                },

                onStatusChange: function (status, chosenBefore) {
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)
                                [0];a.async=1;a.src=g;
                        m.parentNode.insertBefore(a, m);
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    if (didConsent) {
                        // enable cookies
                        ga('require', 'displayfeatures');
                        ga('set', 'anonymizeIp', undefined);
                        ga('create', 'UA-116921468-1', 'auto');
                        ga('set', 'forceSSL', true);
                    } else {
                        // disable cookies
                        ga('set', 'displayFeaturesTask', null);
                        ga('set', 'anonymizeIp', true);
                    }
                    ga('send', 'pageview');
                },

                onRevokeChoice: function () {
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)
                                [0];a.async=1;a.src=g;
                        m.parentNode.insertBefore(a, m);
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    var type = this.options.type;
                    if (type == 'opt-in') {
                        // disable cookies
                        ga('set', 'displayFeaturesTask', null);
                        ga('set', 'anonymizeIp', true);
                    }
                    if (type == 'opt-out') {
                        // enable cookies
                        ga('require', 'displayfeatures');
                        ga('set', 'anonymizeIp', undefined);
                        ga('create', 'UA-116921468-1', 'auto');
                        ga('set', 'forceSSL', true);
                    }
                    ga('send', 'pageview');
                }
            });

</script>
<!-- {/literal} END JIVOSITE CODE -->

</body>
</html>