﻿@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IHtmlLocalizer<Common> Localizer
@inject IViewLocalizer viewLocalizer
@inject IHttpContextAccessor httpAccessor
@inject IDirectionService DirectionService
@model List<SolidHome.Models.Works.AdminWork>
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
}
@section Meta{
    <meta name="description" content="@viewLocalizer["WorksMetaDescription"]">
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())">
    @*<meta name="robots" content="noindex" />*@
}
@section Title{
    <title>@viewLocalizer["WorksMetaTitle"]</title>
}
<section class="main-prodItem-photo">
    <div class="tittle-padd">
        <p class="main-tittle text-center toupc">@Localizer["Works"]</p>
        <div class="breadcrumb-row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="Home" asp-action="Index" class="color-light toupc">@Localizer["Main"]</a></li>
                <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="catalog" asp-action="Index" class="color-light toupc">@Localizer["Works"]</a></li>
            </ol>
        </div>
    </div>
</section>
<section class="main-catalog-info">
    <div class="own-container">
        <div class="row">
            <div class="col-lg-3 catalog-menu">
                <ul>
                    <li class="sub-tittle_18">
                        <a class="catalog-items toupc btn-all">Усі роботи</a>
                    </li>
                    @foreach (SmallDirection dir in ViewBag.Directions)
                    {
                        <li class="sub-tittle_18">
                            <a class="catalog-items toupc btn-@dir.Url">@dir.Title.ToUpper()</a>
                        </li>
                    }

                </ul>
            </div>
            <div class="col-lg-9 col-md-12 row products-row my-shuffle-container p-0">
                @foreach (var adminWork in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 prod-item" data-groups='[@String.Join(", ", adminWork.Directions.Select(c=>"\"" + c.Url + "\""))]'>
                        <div class="prod-item-content">
                            <div class="dark-hov"></div>
                            <div class="image-contnet">
                                <img src="@adminWork.MainImage" class="w-100" alt="">
                            </div>
                            <a asp-protocol="https"
                               asp-controller="works"
                               asp-action="work"
                               asp-route-url="@adminWork.WorkTranslators.FirstOrDefault(c=>c.Code == CultureInfo.CurrentCulture.Name)?.Url"
                               asp-route-id="@adminWork.WorkId" class="sub-tittle_18 prod-more-btn d-flex"><p class="m-auto">@adminWork.WorkTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Title</p></a>
                        </div>
                    </div>
                }


            </div>
        </div>
        <div class="col-1@sm my-sizer-element"></div>
    </div>
</section>

@section Scripts{
    <script src="~/node_modules/shufflejs/dist/shuffle.min.js"></script>
    <script>
        var Shuffle = window.Shuffle;
        var element = document.querySelector('.my-shuffle-container');
        var sizer = element.querySelector('.my-sizer-element');

        var shuffleInstance = new Shuffle(element, {
            itemSelector: '.prod-item',
            sizer: sizer
        });
        // shuffleInstance.filter('animal');
        $(".btn-all").on("click", function () {
            shuffleInstance.filter();
        });
        $(".btn-video-surveillance").on("click", function () {
            shuffleInstance.filter('video-surveillance');
        });
        $(".btn-security-alarm").on("click", function () {
            shuffleInstance.filter('security-alarm');
        });
        $(".btn-access-controll").on("click", function () {
            shuffleInstance.filter('access-controll');
        });
        $(".btn-telephony").on("click", function () {
            shuffleInstance.filter('telephony');
        });
        $(".btn-engineering-infrastructure").on("click", function () {
            shuffleInstance.filter('engineering-infrastructure');
        });
        $(".btn-audiovisual-system").on("click", function () {
            shuffleInstance.filter('audiovisual-system');
        });
        $(".btn-gps-tracking").on("click", function () {
            shuffleInstance.filter('gps-tracking');
        });
        $(".btn-smart-house").on("click", function () {
            shuffleInstance.filter('smart-house');
        });
    </script>
}



