﻿@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@model SolidHome.Models.Works.AdminWork
@inject IDirectionService directionService
@inject IHtmlLocalizer<Common> localizer
@inject IHttpContextAccessor httpAccessor
@{
    var directions = directionService.GetAllDirections<SmallDirection>(CultureInfo.CurrentCulture.Name).ToList();
    var translator = Model.WorkTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name);
}
@section Title{
    <title> @(Html.Raw(translator?.MetaTitle)) </title>
}

@section Meta
    {
    <meta name="description" content="@(Html.Raw(translator?.MetaDescription))" />
    <meta name="url" content="@(httpAccessor.HttpContext.Request.GetUri())">
    <meta property="og:title" content="@(Html.Raw(translator?.MetaTitle))">
    <meta property="og:url" content="@(httpAccessor.HttpContext.Request.GetUri())">
    <meta property="og:image" content="https://@httpAccessor.HttpContext.Request.Host@Html.Raw(Model.MainImage)">
    <meta property="og:type" content="website" />
    @*<meta name="robots" content="noindex" />*@
}

@section Header{
    <header class="transparent-container own-container">
        <div class="top-header">
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand" asp-protocol="https" asp-controller="home" asp-action="index"><img src="~/images/Logo/LogoLight.svg" alt="Logo" /></a>
                <button class="navbar-toggler" type="button" id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="home" asp-action="Index" data-active="dark">@localizer["Main"]</a>
                        </li>
                        <li class="nav-item catalog-drop">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="catalog" asp-action="index" data-active="light">@localizer["Catalog"]<i class="icons icon-drop"></i></a>
                            <div class="dropdown-content">
                                @foreach (var direction in directions)
                                {
                                    <a class="dropdown-item sub-tittle_18" asp-protocol="https" asp-controller="Catalog" asp-action="CatalogItem" asp-route-url="@direction.Url">@Html.Raw(direction.Title)</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="works" asp-action="index" data-active="light">@localizer["Works"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="news" asp-action="Index" data-active="light">@localizer["News"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link toupc" asp-protocol="https" asp-controller="contacts" asp-action="Index" data-active="light">@localizer["Contacts"]</a>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link toupc" data-active="light">(063) 268 52 28</p>
                        </li>
                    </ul>
                </div>

                <div class="lang nav-item">

                    <a class="nav-link" asp-protocol="https" asp-controller="works" asp-action="work" asp-route-id="@Model.WorkId" asp-route-url="@Model.WorkTranslators.FirstOrDefault(c => c.Code == (CultureInfo.CurrentCulture.Name == "ru" ? "uk" : "ru"))?.Url" asp-route-lang="@(CultureInfo.CurrentCulture.Name == "ru" ? "" : "ru")">
                        @(CultureInfo.CurrentCulture.Name == "uk" ? "РУС" : "УКР")
                    </a>
                </div>
            </nav>
        </div>
    </header>
}

<section class="main-catalog-photo">
    <div class="tittle-padd">
        <p class="main-tittle text-center toupc">@Html.Raw(translator?.Title)</p>
        <p class="work-client text-center"><span class="sub-tittle_med_18">Клієнт: </span> @translator?.CompanyName</p>
        <div class="breadcrumb-row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="Home" asp-action="Index" class="color-light toupc">@localizer["Main"]</a></li>
                <li class="breadcrumb-item sub-tittle_18"><a asp-protocol="https" asp-controller="works" asp-action="Index" class="color-light toupc">@localizer["Works"]</a></li>
            </ol>
        </div>


    </div>
</section>
<section class="single-work-page">
    <div class="own-container">
        <div class="row justify-content-center">
            @foreach (var image in Model.WorkImages)
            {
                <div class="work-items row col-12">
                    <div class="work-img col-lg-6">
                        <img src="@image.Path" alt="@image.ImageTranslators.FirstOrDefault(c=>c.Code == CultureInfo.CurrentCulture.Name)?.Alt" class="mw-100" />
                    </div>
                    <div class="work-description col-lg-6">
                        <div class="descr-inl-block">
                            <p class="work-short-description">
                                @Html.Raw(image.ImageTranslators.FirstOrDefault(c => c.Code == CultureInfo.CurrentCulture.Name)?.Description)
                            </p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>