﻿@using System.Globalization
@using Microsoft.AspNetCore.Http
@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IHttpContextAccessor httpAccessor
@inject IDirectionService DirectionService
@model List<SolidHome.Models.Works.AdminWork>
@{
    var directions = DirectionService.GetAllDirections<SmallDirection>("uk").ToList();
}

<p class="sub-tittle_med_25">Всі роботи</p>
<button class="add-btn"><a asp-protocol="https" asp-area="Admin" asp-controller="works" asp-action="create">Додати роботу</a></button>
<div class="vacan-info">

    <table class="table table-hover contact-table main-info-block much-info">
        <thead>
            <tr>
                <th class="sub-tittle_med_18">#</th>
                <th class="sub-tittle_med_18">Робота</th>
                <th class="sub-tittle_med_18">Компанія</th>
                <th class="sub-tittle_med_18">Категорії</th>
                <th class="sub-tittle_med_18">Редагувати</th>
                <th class="sub-tittle_med_18">Видалити</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ToList().Count; i++)
            {
                var work = Model[i];

                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@work.WorkTranslators.FirstOrDefault(c => c.Code == "uk")?.Title</td>

                    <td>
                        @work.WorkTranslators.FirstOrDefault(c => c.Code == "uk")?.CompanyName
                    </td>
                    <td>
                        @String.Join(", ", work.Directions.Select(c => c.Title))
                    </td>
                    <td>
                        <a class="edit-btn" asp-protocol="https" asp-area="Admin" asp-controller="Works" asp-action="Edit" asp-route-id="@work.WorkId">Редагувати</a>
                    </td>
                    <td>
                        <a class="delete-btn remove-item" asp-area="Admin" asp-controller="WorksApi" asp-action="RemoveWork" asp-route-id="@work.WorkId">Видалити</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>