﻿@using SolidHome.Models
@using SolidHome.Service.Interfaces
@inject IMessageService MessageService
@{
    List<Message> mailsList = MessageService.GetAllMessages().ToList();
}
<p class="sub-tittle_med_25">Повідомлення відвідувачів</p>
<table class="table table-hover main-info-block">
    <thead>
        <tr>
            <th class="sub-tittle_med_18">#</th>
            <th class="sub-tittle_med_18">Ім'я користувача</th>
            <th class="sub-tittle_med_18">Дата</th>
            <th class="sub-tittle_med_18">Email</th>
            <th class="sub-tittle_med_18">Повідомлення</th>
            <th class="sub-tittle_med_18">Видалення</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Message mail in mailsList)
        {
            <tr>
                <th scope="row">1</th>
                <td>@mail.UserName</td>
                <td>@mail.Date</td>
                <td>@mail.Email</td>
                <td>@mail.Content</td>
                <td>
                    <a class="delete-btn remove-item" asp-area="Admin" asp-controller="MailsApi" asp-action="RemoveMail" asp-route-id="@mail.MessageId">Видалити</a>
                </td>
            </tr>
        }

    </tbody>
</table>