﻿@model SolidHome.Models.Login
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<head>
    <meta charset="UTF-8">
    <title>SolidHome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/admin/style.css">
</head>
<body>
<div class="log-block text-center">
    <img src="/images/admin/boy.png">
    <p class="sub-tittle_med_25 mt-4">Вхід в SolidHome</p>
    <div class="row justify-content-center">
        <form class="login-form col-lg-3" asp-controller="Account" asp-action="Login" method="post">
            <input type="email" placeholder="e-mail" asp-for="Username" class="email-input col-11">
            <input type="password" placeholder="password" asp-for="Password" class="pass-input col-11">
            <button type="submit" class="log-btn mt-3">Вхід</button>
        </form>
    </div>
    <p class="mt-4">Перейти на <a href="/" class="color-light"><u>SOLIDHOME</u></a></p>
</div>
</body>

